@model ModelRelief.Dto.MeshTransform

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>MeshTransform</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectId" class="control-label"></label>
                <select asp-for="ProjectId" class="form-control" asp-items="ViewBag.ProjectId"></select>
            </div>

            <div class="form-group">
                <label asp-for="Width" class="control-label"></label>
                <input asp-for="Width" class="form-control" />
                <span asp-validation-for="Width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Height" class="control-label"></label>
                <input asp-for="Height" class="form-control" />
                <span asp-validation-for="Height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Depth" class="control-label"></label>
                <input asp-for="Depth" class="form-control" />
                <span asp-validation-for="Depth" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="GradientThreshold" class="control-label"></label>
                <input asp-for="GradientThreshold" class="form-control" />
                <span asp-validation-for="GradientThreshold" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AttenuationFactor" class="control-label"></label>
                <input asp-for="AttenuationFactor" class="form-control" />
                <span asp-validation-for="AttenuationFactor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AttenuationDecay" class="control-label"></label>
                <input asp-for="AttenuationDecay" class="form-control" />
                <span asp-validation-for="AttenuationDecay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnsharpGaussianLow" class="control-label"></label>
                <input asp-for="UnsharpGaussianLow" class="form-control" />
                <span asp-validation-for="UnsharpGaussianLow" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnsharpGaussianHigh" class="control-label"></label>
                <input asp-for="UnsharpGaussianHigh" class="form-control" />
                <span asp-validation-for="UnsharpGaussianHigh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnsharpHighFrequencyScale" class="control-label"></label>
                <input asp-for="UnsharpHighFrequencyScale" class="form-control" />
                <span asp-validation-for="UnsharpHighFrequencyScale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="P1" class="control-label"></label>
                <input asp-for="P1" class="form-control" />
                <span asp-validation-for="P1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="P2" class="control-label"></label>
                <input asp-for="P2" class="form-control" />
                <span asp-validation-for="P2" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
