@model ModelRelief.Dto.MeshTransform

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>MeshTransform</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-route-id="@Model.Id">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Width" class="control-label"></label>
                <input asp-for="Width" class="form-control" />
                <span asp-validation-for="Width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Height" class="control-label"></label>
                <input asp-for="Height" class="form-control" />
                <span asp-validation-for="Height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Depth" class="control-label"></label>
                <input asp-for="Depth" class="form-control" />
                <span asp-validation-for="Depth" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="GradientThresholdEnabled" class="control-label"></label>
                <input type="checkbox" asp-for="GradientThresholdEnabled" class="form-control" />
                <span asp-validation-for="GradientThresholdEnabled" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GradientThreshold" class="control-label"></label>
                <input asp-for="GradientThreshold" class="form-control" />
                <span asp-validation-for="GradientThreshold" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AttenuationEnabled" class="control-label"></label>
                <input type="checkbox" asp-for="AttenuationEnabled" class="form-control" />
                <span asp-validation-for="AttenuationEnabled" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AttenuationFactor" class="control-label"></label>
                <input asp-for="AttenuationFactor" class="form-control" />
                <span asp-validation-for="AttenuationFactor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AttenuationDecay" class="control-label"></label>
                <input asp-for="AttenuationDecay" class="form-control" />
                <span asp-validation-for="AttenuationDecay" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UnsharpMaskingEnabled" class="control-label"></label>
                <input type="checkbox" asp-for="UnsharpMaskingEnabled" class="form-control" />
                <span asp-validation-for="UnsharpMaskingEnabled" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnsharpGaussianLow" class="control-label"></label>
                <input asp-for="UnsharpGaussianLow" class="form-control" />
                <span asp-validation-for="UnsharpGaussianLow" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnsharpGaussianHigh" class="control-label"></label>
                <input asp-for="UnsharpGaussianHigh" class="form-control" />
                <span asp-validation-for="UnsharpGaussianHigh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnsharpHighFrequencyScale" class="control-label"></label>
                <input asp-for="UnsharpHighFrequencyScale" class="form-control" />
                <span asp-validation-for="UnsharpHighFrequencyScale" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PlanarBackground" class="control-label"></label>
                <input type="checkbox" asp-for="PlanarBackground" class="form-control" />
                <span asp-validation-for="PlanarBackground" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TranslateMeshZPositive" class="control-label"></label>
                <input type="checkbox" asp-for="TranslateMeshZPositive" class="form-control" />
                <span asp-validation-for="TranslateMeshZPositive" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SilhouetteEnabled" class="control-label"></label>
                <input type="checkbox" asp-for="SilhouetteEnabled" class="form-control" />
                <span asp-validation-for="SilhouetteEnabled" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SilhouetteEdgeWidth" class="control-label"></label>
                <input asp-for="SilhouetteEdgeWidth" class="form-control" />
                <span asp-validation-for="SilhouetteEdgeWidth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SilhouetteSigma" class="control-label"></label>
                <input asp-for="SilhouetteSigma" class="form-control" />
                <span asp-validation-for="SilhouetteSigma" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ReliefScale" class="control-label"></label>
                <input asp-for="ReliefScale" class="form-control" />
                <span asp-validation-for="ReliefScale" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="P1Enabled" class="control-label"></label>
                <input type="checkbox" asp-for="P1Enabled" class="form-control" />
                <span asp-validation-for="P1Enabled" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="P1" class="control-label"></label>
                <input asp-for="P1" class="form-control" />
                <span asp-validation-for="P1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="P2Enabled" class="control-label"></label>
                <input type="checkbox" asp-for="P2Enabled" class="form-control" />
                <span asp-validation-for="P2Enabled" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="P2" class="control-label"></label>
                <input asp-for="P2" class="form-control" />
                <span asp-validation-for="P2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="P3Enabled" class="control-label"></label>
                <input type="checkbox" asp-for="P3Enabled" class="form-control" />
                <span asp-validation-for="P3Enabled" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="P3" class="control-label"></label>
                <input asp-for="P3" class="form-control" />
                <span asp-validation-for="P3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="P4Enabled" class="control-label"></label>
                <input type="checkbox" asp-for="P4Enabled" class="form-control" />
                <span asp-validation-for="P4Enabled" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="P4" class="control-label"></label>
                <input asp-for="P4" class="form-control" />
                <span asp-validation-for="P4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="P5Enabled" class="control-label"></label>
                <input type="checkbox" asp-for="P5Enabled" class="form-control" />
                <span asp-validation-for="P5Enabled" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="P5" class="control-label"></label>
                <input asp-for="P5" class="form-control" />
                <span asp-validation-for="P5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="P6Enabled" class="control-label"></label>
                <input type="checkbox" asp-for="P6Enabled" class="form-control" />
                <span asp-validation-for="P6Enabled" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="P6" class="control-label"></label>
                <input asp-for="P6" class="form-control" />
                <span asp-validation-for="P6" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="P7Enabled" class="control-label"></label>
                <input type="checkbox" asp-for="P7Enabled" class="form-control" />
                <span asp-validation-for="P7Enabled" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="P7" class="control-label"></label>
                <input asp-for="P7" class="form-control" />
                <span asp-validation-for="P7" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="P8Enabled" class="control-label"></label>
                <input type="checkbox" asp-for="P8Enabled" class="form-control" />
                <span asp-validation-for="P8Enabled" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="P8" class="control-label"></label>
                <input asp-for="P8" class="form-control" />
                <span asp-validation-for="P8" class="text-danger"></span>
            </div>

            <!-- Hidden Fields    -->
            <div class="form-group">
                <input type="hidden" asp-for="ProjectId"/>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="actionButton btn button-rounded btn-sm" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
