<span>Welcome, @User.Identity.Name</span>

<form method="post", asp-controller="Account" asp-action="Logout" asp-antiforgery="true">

    <div>
        <input class="btn btn-danger" type="submit" value="Logout"/>
    </div>
</form>
