/* ----------------------
    General
------------------------*/
body {
    background-color: #3b6176;
    color: white;
}

h1, h2, h3, h4, h5 {
    font-family: Roboto, sans-serif;
    font-style:  normal;
    font-weight: 300;
}

hr {
    border-color: gray;
}

input, textarea {
    color: white;
}

.button-rounded {
    color: white;
    border-radius: 32px;
}

a {
    color: white;
    font-weight: lighter;
}

.card {
    border: none;
}

.card-body {
    background-color: rgb(16, 41, 53);
}

/* ----------------------
    Navigation Bar
------------------------*/
sup {
    font-size: 14px;
}

/* ----------------------
    Footer
------------------------*/
footer.page-footer .footer-copyright {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}

/* ----------------------
    Landing
------------------------*/


.actionButton {
    font-size: 12px;
    padding: 10px 25px 10px 25px;
    background-color: slategray;
}

#sendButton {
    cursor: not-allowed;
}

/* ----------------------
    Composer
------------------------*/
#depthBufferCanvas, #normalMapCanvas {
    width: 512px;
    height: 512px;
    background-color: #000000;
}

.fa-camera, .fa-expand-arrows-alt {
  color: cyan !important;
}

.composerStep {
    margin-top: 20px;
}

.controlSection {
    border-color: white;
    margin-top: 0;
}

.controlContainer {
    margin-top: 10px;
}

.controlHeading {
    font-size: 12pt;
}

.controlHeadingDivider {
    border-color: darkgray;
    margin-top: 0;
}

.controlDescription {
    font-size: 10pt;
}

.controlText {
    font-size: 10pt;
}

.sliderControl {
    margin-top: 20px;
}

#modelViewCardBody,
#meshViewCardBody {
    background-color: black;
}

.card-cascade {
    background-color: black;
}

/* (Camera) Standard View */
.dropdown-menu {
    background-color: #1d272e;
    color: white;
}

.dropdown-menu a:hover {
    background-color: darkslategray !important;
}

/* ----------------------
    Model3D View
------------------------*/

/* ----------------------
    Mesh View
------------------------*/

/* ----------------------
    DepthBuffer View
------------------------*/

/* ----------------------
    NormalMap View
------------------------*/

/* ----------------------
    HTML Logger
------------------------*/

#loggerRoot {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.logMessage {
    margin-left: 100PX;
}

.logError {
    color: #B6CFDC;
}

.logWarning {
    color: #B771B7;
}

.logInfo {
    color: rgb(255, 255, 255);
}

/* ----------------------
    Credits
------------------------*/
.creditTable {
    margin-left: 10%;
    margin-right: 10%;
}

.creditHeading {
    font-size: 16pt;
    color: lightgray;
}

.creditTechnology {
    font-size: 12pt;
}

.creditDescription {
    font-size: 10pt;
}

.creditLicense {
    font-size: 10pt;
}

.creditTable a:hover {
    color: darkturquoise;
}

.creditTable a:link {
    color: white;
}

.creditTable a:visited {
    color: white;
}

.creditTable a:hover {
    color: cyan;
}

.creditTable a:active {
    color: blue;
}

/* ----------------------
    CSS Debugging
------------------------*/
/* .row {
    background-color: rgb(217, 240, 240);
    outline: 1px solid black;
}

[class^=col] {

    background-color: rgb(243, 248, 225);
    outline: 1px solid black
} */
