/* ----------------------
    Bootstrap Overrides
------------------------*/

/* ----------------------
    General
------------------------*/
#modelCanvas, #meshCanvas, #depthBufferCanvas, #normalMapCanvas {
    width:  512px;
    height: 512px;
    background-color: #000000;
}

/* ----------------------
    Model3D View
------------------------*/

/* ----------------------
    Mesh View
------------------------*/

/* ----------------------
    DepthBuffer View
------------------------*/

/* ----------------------
    NormalMap View
------------------------*/

/* ----------------------
    HTML Logger
------------------------*/

#loggerRoot {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.logMessage {
    margin-left: 100PX;
}

.logError {
    color : #B6CFDC;
}

.logWarning {
    color: #B771B7;
}

.logInfo {
    color: rgb(255, 255, 255);
}
