/* --------------------------------------------------------------------------------------------------------------
    SCSS
----------------------------------------------------------------------------------------------------------------*/
$theme_background: #3b6176;

/* --------------------------------------------------------------------------------------------------------------
    General
----------------------------------------------------------------------------------------------------------------*/
body {
    background-color: $theme_background;
    color: white;
}

h1, h2, h3, h4, h5 {
    font-family: Roboto, sans-serif;
    font-style:  normal;
    font-weight: 300;
}

hr {
    border-color: gray;
}

.button-rounded {
    color: white;
    border-radius: 32px;
}

.actionButton {
    font-size: 1rem;
    padding: 10px 25px 10px 25px;
    background-color: slategray;
}

.table {
    color: white;
}

input, textarea {
    color: white;
}

a {
    color: white;
    font-weight: lighter;
}
a:hover {
    color: cyan;
}

.card {
    border: none;
}
.card-body {
    background-color: rgb(16, 41, 53);
}

/* --------------------------------------------------------------------------------------------------------------
    Navigation Bar
----------------------------------------------------------------------------------------------------------------*/

sup {
    font-size: .8rem;
}

.dropdown-item {
    background-color: #1d272e;
    color: white;
}

.vertical-line {
    display: inline-block;
    border-left: 1px solid darkgrey;
    margin: 0 10px;
    height: 2.5rem;
}

/* --------------------------------------------------------------------------------------------------------------
    Cookie Banner
----------------------------------------------------------------------------------------------------------------*/

#cookiePolicy{
    color: navy;
}

/* --------------------------------------------------------------------------------------------------------------
    Footer
----------------------------------------------------------------------------------------------------------------*/
footer.page-footer .footer-copyright {
    font-size: .8rem;
    color: rgba(255, 255, 255, 0.5);
}

/* --------------------------------------------------------------------------------------------------------------
    Landing
----------------------------------------------------------------------------------------------------------------*/
/* Ripple effect */
/* https://codepen.io/finnhvman/post/pure-css-ripple-with-minimal-effort */
.rippleContainer {
  position: relative;
  display: inline-block;
}
.ripple {
  background-position: center;
  transition: background 1s;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
}
.ripple:hover {
  background: rgba(255, 255, 255, 0.2) radial-gradient(circle, transparent 1%, #ffffff 50%) center/15000%;
}
.ripple:active {
  background-size: 100%;
  transition: background 0s;
}

/* --------------------------------------------------------------------------------------------------------------
    File Preview
----------------------------------------------------------------------------------------------------------------*/
.filePreview {
    height: 100px;
    width: 100px;
}

/* --------------------------------------------------------------------------------------------------------------
    Contact Form
----------------------------------------------------------------------------------------------------------------*/
#contact-form {
    font-weight: 300;
}

.form-control {
    color: white;
    caret-color: white;

    background-color: $theme_background;
    border-width: 0px 0px 1px 0px;
    border-radius: 0px;
}

.form-control:focus {
  color: white;
  background-color: $theme_background;
}

#submitContactForm {
    cursor: not-allowed;
}

/* --------------------------------------------------------------------------------------------------------------
    reCAPTCHA
----------------------------------------------------------------------------------------------------------------*/
.g-recaptcha{
    transform:scale(0.77);
    -webkit-transform:scale(0.77);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
}

/* --------------------------------------------------------------------------------------------------------------
    Model3d Create (Upload)
----------------------------------------------------------------------------------------------------------------*/
#dropArea {
  border: 2px dashed #ccc;
  border-radius: 20px;

  margin: 50px;
  padding: 20px;
}

#dropArea.highlight {
  border-color: rgb(9, 248, 248);
}

/* --------------------------------------------------------------------------------------------------------------
    Compose
----------------------------------------------------------------------------------------------------------------*/
#depthBufferCanvas, #normalMapCanvas {
    background-color: #000000;
}

/* Solver uses standard value (a = 10% <|Gradient|>) for all models */
#attenuationFactorControl {
    display:none;
}

.fa-camera, .fa-expand-arrows-alt {
  color: cyan;
}

.composeStep {
    margin-top: 20px;
}

.controlSection {
    border-color: white;
    margin-top: 0;
}

.controlContainer {
    margin-top: 10px;
}

.nestedControlContainer {
    margin-left: 15px;
}

.controlHeading {
    font-size: 1rem;
}

.controlHeadingDivider {
    border-color: darkgray;
    margin-top: 0;
}

.nestedControlHeadingDivider {
    border-color: rgb(117, 115, 115);
}

.controlHeadingDivider {
    border-color: darkgray;
    margin-top: 0;
}

.controlDescription {
    font-size: .8rem;
}

.controlText {
    font-size: .8rem;
}

#modelViewCardBody,
#meshViewCardBody {
    background-color: black;
}

.card-cascade {
    background-color: black;
}

.view-controls {
    background-color: rgb(34, 39, 39);
    height: 3.5rem;
}

/* (Camera Icon) Standard View */
.standardViewButton {
    border-color: cyan;
    border-radius: 24px;
}

.standardViewButton:hover {
    color: cyan;
}

.dropdown-toggle{
    color: cyan;
}

.dropdown-menu {
    background-color: #1d272e;
    color: white;
}

.dropdown-menu a:hover {
    background-color: lightgrey;
}

.fitViewButton {
    border-color: cyan;
    border-radius: 24px;
}

/* Extended dat.gui Controls (extended controls user setting */
.dg.main {
    margin-left: 15px;
    margin-bottom: 25px;
}

/* --------------------------------------------------------------------------------------------------------------
    Range Slider
----------------------------------------------------------------------------------------------------------------*/
.sliderControl {
    background-color: transparent;
    margin-top: 20px;
}

input[type=range] {
  background-color: transparent;
}

/* Range: browser-specific */
/*#region*/
/* https://www.cssportal.com/style-input-range/ */
input[type=range] {
  height: 19px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #B8A9A9;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497E3;
  height: 12px;
  width: 12px;
  border-radius: 25px;
  background: #9CF5FF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #B8A9A9;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #B8A9A9;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497E3;
  height: 12px;
  width: 12px;
  border-radius: 25px;
  background: #9CF5FF;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #B8A9A9;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #B8A9A9;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497E3;
  height: 12px;
  width: 12px;
  border-radius: 25px;
  background: #9CF5FF;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #B8A9A9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #B8A9A9;
}
/*#endregion*/

/* --------------------------------------------------------------------------------------------------------------
    BusyBar
----------------------------------------------------------------------------------------------------------------*/
/* https://www.gradient-animator.com/ */
#busyBar {
    height: 16px;
    background: linear-gradient(270deg, #e62088, #5adcea);

    background-size: 400% 400%;

    -webkit-animation: BusyBarAnimation 1s ease infinite;
    -moz-animation: BusyBarAnimation 1s ease infinite;
    animation: BusyBarAnimation 1s ease infinite;
}
/* BusyBar: browser-specific */
/*#region*/
@-webkit-keyframes BusyBarAnimation {
    0%{background-position:0% 54%}
    50%{background-position:100% 47%}
    100%{background-position:0% 54%}
}
@-moz-keyframes BusyBarAnimation {
    0%{background-position:0% 54%}
    50%{background-position:100% 47%}
    100%{background-position:0% 54%}
}
@keyframes BusyBarAnimation {
    0%{background-position:0% 54%}
    50%{background-position:100% 47%}
    100%{background-position:0% 54%}
}
/*#endregion*/

/* --------------------------------------------------------------------------------------------------------------
    Generate (Floating Action Button)
----------------------------------------------------------------------------------------------------------------*/

.fab {
   width: 70px;
   height: 70px;
   background-image: linear-gradient(40deg, rgb(255, 110, 196), rgb(120, 115, 245)) !important;
   border-radius: 50%;
   box-shadow: 0 6px 10px 0 #666;

   font-size: 50px;
   line-height: 70px;
   color: white;
   text-align: center;

  transition: all 0.1s ease-in-out;
}

.fab:hover {
   box-shadow: 0 6px 14px 0 #666;
   transform: scale(1.05);
}

/* --------------------------------------------------------------------------------------------------------------
    Credits
----------------------------------------------------------------------------------------------------------------*/
.creditTable {
    margin-left: 10%;
    margin-right: 10%;
}

.creditHeading {
    font-size: 1.3rem;
    color: lightgray;
}

.creditTechnology {
    font-size: .8rem;
}

.creditDescription {
    font-size: .8rem;
}

.creditLicense {
    font-size: .8rem;
}

.creditTable a:link {
    color: white;
}

.creditTable a:visited {
    color: white;
}

.creditTable a:hover {
    color: cyan;
}

.creditTable a:active {
    color: blue;
}

/* --------------------------------------------------------------------------------------------------------------
    Settings
----------------------------------------------------------------------------------------------------------------*/
.settingsTable {
    margin-left: 10%;
    margin-right: 10%;
}

.settingsHeading {
    font-size: 1.4rem;
    color: lightgray;
}

/* --------------------------------------------------------------------------------------------------------------
    Status Panel
----------------------------------------------------------------------------------------------------------------*/
#statusHeading {
    background-color: slategray;
}
#statusHeading button{
    color: lightgray;
}

/* --------------------------------------------------------------------------------------------------------------
    HTML Logger
----------------------------------------------------------------------------------------------------------------*/
#loggerRoot {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.logMessage {
    margin-left: 10px;
}

.logError {
    color: #f03030;
}

.logWarning {
    color: #ecf759;
}

.logInfo {
    color: rgb(255, 255, 255);
}
/* --------------------------------------------------------------------------------------------------------------
    Bootstrap Grid Debugging
----------------------------------------------------------------------------------------------------------------*/
/*
.row {
    background-color: darkgrey;
    outline: 1px solid red;
}

[class^=col] {
    background-color: darkslateblue;
    border-right: 1px solid white;
}
*/