
#https://docs.docker.com/engine/reference/builder/#dockerignore-file

devenv*
node_modules*

ModelRelief/bin*
ModelRelief/obj*
ModelRelief.Test*

npm-debug.log
README.md
LICENSE

.dockerignore
.git
.gitignore
.vscode
.vs
