
#https://docs.docker.com/engine/reference/builder/#dockerignore-file

ModelRelief/bin*
ModelRelief/obj*
ModelRelief/node_modules*
devenv*

ModelRelief.Test*

npm-debug.log
README.md
LICENSE

.dockerignore
.git
.gitignore
.vscode
.vs
