[submodule "Relief/lib/pybind11"]
	path = Relief/lib/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = master
[submodule "Relief/lib/Catch2"]
	path = Relief/lib/Catch2
	url = https://github.com/catchorg/Catch2.git
	branch = master
