The development environement must be installed manually. See Logs\DevelopmentPythonInstallation.txt.

conda config --add channels conda-forge
conda create --prefix .\devenv python=3.6
conda activate D:\ModelRelief\devenv

---------------------- Core ----------------------
conda install numpy
conda install colorama
conda install scipy
conda install pyamg
conda install matplotlib
conda install pybind11
conda install imageio

---------------------- Development Only ----------------------
conda install mayavi
conda install qdarkstyle
conda install pylint
conda install mypy
