The development environement must be installed manually. See Logs\DevelopmentPythonInstallation.txt.

conda config --add channels conda-forge
conda create --prefix .\devenv python=3.6
pip install mayavi
pip install pyqt5
conda install colorama
conda install scipy
pip install qdarkstyle
pip install pyamg
conda install matplotlib
conda install pylint
conda install mypy
conda install imageio
