@using ModelRelief.Features.Settings

@model ModelRelief.Dto.Mesh

@{
    ViewBag.Title = "Compose Bas-Reliefs (Sculptural Low Reliefs) From 3D Models | ModelRelief";
    ViewBag.Description = "Use an easy online tool to create a bas-relief (sculptural low relief) from a 3D model. Any perspective view of a 3D model can be quickly set up and used to generate a high-resolution bas-relief.";
}

<main class="mt-2">
    <div id="rootContainer" class="container-fluid">
        <div id="composerView">
            <div class="row mt-1 mx-5">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Transform 3D models into low reliefs.</h5>
                            <div class="row composerStep">
                                <div class="col-md-2">
                                    <span class="fa-stack">
                                        <span class="far fa-circle fa-stack-2x"></span>
                                        <strong class="fa-stack-1x">
                                            1
                                        </strong>
                                    </span>
                                </div>
                                <div class="col">
                                    Use the Model view to create the exact perspective view you want.<br />
                                </div>
                            </div>
                            <div class="row composerStep">
                                <div class="col-md-2">
                                    <span class="fa-stack">
                                        <span class="far fa-circle fa-stack-2x"></span>
                                        <strong class="fa-stack-1x">
                                            2
                                        </strong>
                                    </span>
                                </div>
                                <div class="col">
                                    Zoom. Pan. Rotate. Compose your view.
                                </div>
                            </div>
                            <div class="row  composerStep">
                                <div class="col-md-2">
                                    <span class="fa-stack">
                                        <span class="far fa-circle fa-stack-2x"></span>
                                        <strong class="fa-stack-1x">
                                            3
                                        </strong>
                                    </span>
                                </div>
                                <div class="col">
                                    Press the purple lightning bolt to create your bas-relief. It will be generated and then shown in the Relief view.
                                </div>
                            </div>
                            <div class="row  composerStep">
                                <div class="col-md-2">
                                    <span class="fa-stack">
                                        <span class="far fa-circle fa-stack-2x"></span>
                                        <strong class="fa-stack-1x">
                                            4
                                        </strong>
                                    </span>
                                </div>
                                <div class="col">
                                    Experiment with the settings below to control the details and size of your relief.
                                </div>
                            </div>
                        </div>

                        <!-- Model -->
                        <div class="col-md-6">
                            <!-- Model View -->
                            <div id="modelView" class="container-fluid">
                                <div class="row">
                                    <div class="col">

                                        <!-- Model Card -->
                                        <div class="card card-cascade">

                                            <!-- Header -->
                                            <div class="view-controls d-flex justify-content-between py-2">

                                                <!--Camera (StandardView)-->
                                                <div>
                                                    <!--StandardView Trigger-->
                                                    <button class="standardViewButton btn btn-sm dropdown-toggle m-2" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="fas fa-camera"></i>
                                                    </button>

                                                    <!--Menu-->
                                                    <div class="standardViewMenu dropdown-menu">
                                                    </div>
                                                </div>

                                                <h5 class="mt-2">Model</h5>
                                                <button type="button" class="fitViewButton btn btn-sm m-2">
                                                    <i class="fas fa-expand-arrows-alt"></i>
                                                </button>
                                            </div>
                                            <!-- /Header -->
                                            <!-- Body -->
                                            <div id="modelViewCardBody" class="card-body embed-responsive embed-responsive-1by1">
                                                <canvas id="modelCanvas" class="embed-responsive-item" tabindex='2'></canvas>
                                            </div>
                                            <!-- /Body -->

                                        </div>
                                        <!-- /Model Card -->

                                        <div id="progressBar" class="progress">
                                            <div>Working...</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /Model View -->
                        </div>
                    </div>

                    <h4>Relief Settings</h4>
                    <hr class="controlSection">

                    <!-- Gradient Threshold -->
                    <div id=gradientThresholdControl class=" controlContainer">
                        <span class="controlHeading">Slope Threshold</span>
                        <hr class="controlHeadingDivider">

                        <div class="row">
                            <div class="col-md-6 controlDescription">
                                <span>Model features with slope values higher than this threshold are flattened.</span>
                            </div>
                            <div class="col-md-3">
                                <img src="~/images/SlopeThreshold.png" class="card-img-top" alt="">
                            </div>
                            <div class="col">
                                <div class="d-flex my-1 sliderControl controlText">
                                    <span class="mr-2 mt-1">0</span>
                                    <form class="w-100">
                                        <input id="gradientThreshold" class="border-0" type="range" min="0" max="10" step="0.1" />
                                    </form>
                                    <span class="ml-2 mt-1">10</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Attenuation Factor -->
                    <div id=attenuationFactorControl class="controlContainer">
                        <span class="controlHeading">Slope Attenuation</span>
                        <hr class="controlHeadingDivider">

                        <div class="row">
                            <div class="col-md-6 controlDescription">
                                <span>This setting controls the flattening of all model features. Higher slopes are flattened more than lower slopes.</span>
                            </div>
                            <div class="col-md-3">
                                <img src="~/images/SlopeAttenutation.png" class="card-img-top" alt="">
                            </div>
                            <div class="col">
                                <div class="d-flex my-1 sliderControl controlText">
                                    <span class="mr-2 mt-1">0</span>
                                    <form class="w-100">
                                        <input id="attenuationFactor" class="border-0" type="range" min="0" max="100" step="0.5" />
                                    </form>
                                    <span class="ml-2 mt-1">100</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Unsharp Gaussian Low -->
                    <div id=unsharpMaskingLowControl class="controlContainer">
                        <span class="controlHeading">Gaussian Blur (Unsharp)</span>
                        <hr class="controlHeadingDivider">

                        <div class="row">
                            <div class="col-md-6 controlDescription">
                                <span>This setting separates detail from the larger features of the model so that it may be amplified.</span>
                            </div>
                            <div class="col-md-3">
                                <img src="~/images/UnsharpMask.png" class="card-img-top" alt="">
                            </div>
                            <div class="col">
                                <div class="d-flex my-1 sliderControl controlText">
                                    <span class="mr-2 mt-1">0</span>
                                    <form class="w-100">
                                        <input id="unsharpGaussianLow" class="border-0" type="range" min="0" max="5" step="0.1" />
                                    </form>
                                    <span class="ml-2 mt-1">5</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Unsharp High Frequency Scale -->
                    <div id=unsharpMaskingHighControl class="controlContainer">
                        <span class="controlHeading">High Frequency Detail</span>
                        <hr class="controlHeadingDivider">

                        <div class="row">
                            <div class="col-md-6 controlDescription">
                                <span>This setting controls the amplification of the detail separated by the above Gaussian Blue (Unsharp) step.</span>
                            </div>
                            <div class="col-md-3">
                                <img src="~/images/HighFrequencyScale.png" class="card-img-top" alt="">
                            </div>
                            <div class="col">
                                <div class="d-flex my-1 sliderControl controlText">
                                    <span class="mr-2 mt-1">0</span>
                                    <form class="w-100">
                                        <input id="unsharpHighFrequencyScale" class="border-0" type="range" min="0" max="5" step="0.1" />
                                    </form>
                                    <span class="ml-2 mt-1">5</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Silhouete -->
                    <div id=silhouetteEdgeWidthControl class="controlContainer">
                        <span class="controlHeading">Silhouette Edge Width</span>
                        <hr class="controlHeadingDivider">

                        <div class="row">
                            <div class="col-md-6 controlDescription">
                                <span>This setting controls the width of the silhouette profile.</span>
                            </div>
                            <div class="col-md-3">
                                <img src="~/images/HighFrequencyScale.png" class="card-img-top" alt="">
                            </div>
                            <div class="col">
                                <div class="d-flex my-1 sliderControl controlText">
                                    <span class="mr-2 mt-1">1</span>
                                    <form class="w-100">
                                        <input id="silhouetteEdgeWidth" class="border-0" type="range" min="1" max="10" step="1" />
                                    </form>
                                    <span class="ml-2 mt-1">10</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Mesh Scale  -->
                    <div id=meshScaleControl class="controlContainer">
                        <span class="controlHeading">Final Height</span>
                        <hr class="controlHeadingDivider">

                        <div class="row">
                            <div class="col-md-9 controlDescription">
                                <span>This setting controls the height of the final relief. It is a percentage of the depth of the original model.</span>
                            </div>
                            <div class="col-md-3">
                                <div class="d-flex my-1 sliderControl controlText">
                                    <span class="mr-2 mt-1">0</span>
                                    <form class="w-100">
                                        <input id="meshScale" class="border-0" type="range" min="0" max="0.10" step="0.001" />
                                    </form>
                                    <span class="ml-2 mt-1">10%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Mesh -->
                <div class="col px-0">
                    <!-- Mesh View -->
                    <div id="meshView" class="container-fluid">
                        <div class="row">

                            <div class="col">
                                <!-- Mesh Card -->
                                <div class="card card-cascade">

                                    <!-- Header -->
                                    <div class="view-controls d-flex justify-content-between py-2">

                                        <!--Camera (StandardView)-->
                                        <div>
                                            <!--StandardView Trigger-->
                                            <button class="standardViewButton btn btn-sm dropdown-toggle m-2 " type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-camera"></i>
                                            </button>

                                            <!--Menu-->
                                            <div class="standardViewMenu dropdown-menu">
                                            </div>
                                        </div>

                                        <h5 class="mt-2">Relief</h5>
                                        <button type="button" class="fitViewButton btn btn-sm m-2">
                                            <i class="fas fa-expand-arrows-alt"></i>
                                        </button>
                                    </div>
                                    <!-- /Header -->
                                    <!-- Body -->
                                    <div id="meshViewCardBody" class="card-body embed-responsive embed-responsive-1by1">
                                        <canvas id="meshCanvas" class="embed-responsive-item" tabindex='2'></canvas>
                                    </div>
                                    <!-- /Body -->
                                </div>
                                <!-- /Mesh Card -->

                                <div id="progressBar" class="progress">
                                    <div>Working...</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Mesh View -->

                    <div class="d-flex justify-content-center">
                        <a id="generateMesh" class="fab mt-1"><i class="fas fa-bolt"></i></a>
                    </div>
                </div>
            </div>

            <div id="depthBufferView">
                <!-- The canvas is generated dynamically. -->
                <canvas id="depthBufferCanvas"></canvas>
            </div>

            <div id="normalMapView">
                <!-- The canvas is generated dynamically. -->
                <canvas id="normalMapCanvas"></canvas>
            </div>

        </div>
    </div>

    <div >
        <!-- Mesh object for composer         -->
        <span id="dtoMesh" hidden>@DataConversion.SerializeObject(Model)</span>
    </div>
</main>

@section scripts {
    <!--******************************************************************************************-->
    <!--                                    Libraries                                             -->
    <!--******************************************************************************************-->
    <script src="~/lib/requirejs/require.js"></script>

    <!--******************************************************************************************-->
    <!--                                    ModelRelief                                           -->
    <!--******************************************************************************************-->
    <script type="text/javascript">
        var composerMeshModel = JSON.parse(document.getElementById("dtoMesh").innerHTML);
    </script>
    <environment names="Development, Test">
        <script src="~/js/shaders.js"></script>
        <script>
            let minifiedExtension = "";
        </script>
    </environment>
    <environment names="Staging, Production">
        <script src="~/js/shaders.min.js"></script>
        <script>
            let minifiedExtension = ".min";
        </script>
    </environment>

    <script>
        requirejs.config({
            baseUrl: ".",
            paths: {
                "ModelRelief": `/js/modelrelief${minifiedExtension}`,
                "three": `/lib/threejs/three${minifiedExtension}`,

                "chai": "/lib/chai/chai",
                "dat.gui": "/lib/threejs/dat.gui.min",
            },
        });
        window.onload = () => {

            requirejs(["ModelRelief"]);
        };
    </script>
}
