@model ModelRelief.Dto.Mesh

@{
    ViewBag.Title = "Model Composer";
}

    <div id="rootContainer">
        <div id="composerView">
            <div id="modelView">
                <canvas id="modelCanvas"></canvas>
            </div>
            <div id="meshView">
                <canvas id="meshCanvas"></canvas>
            </div>
            <div id="depthBufferView">
                <canvas id="depthBufferCanvas"></canvas>
            </div>
        </div>
    </div>

    @section scripts {
        <!--******************************************************************************************-->
        <!--                                    Libraries                                             -->
        <!--******************************************************************************************-->
        <script src="~/lib/threejs/Detector.js"></script>
        <script src="~/lib/requirejs/require.js"></script>

        <!--******************************************************************************************-->
        <!--                                    ModelRelief                                           -->
        <!--******************************************************************************************-->
        <script>
            var composerMeshModel = @DataConversion.SerializeObject(Model)
        </script>
        <script src="~/js/shaders.js"></script>
        <script>
            requirejs.config({
                baseUrl: '.',
                paths: {
                    ModelRelief                             : '/js/modelrelief',

                    chai                                    : '/lib/chai/chai',
                    three                                   : '/lib/threejs/three',
                   'dat-gui'                                : '/lib/threejs/dat.gui.min',
                }
            });
            window.onload = function () {

                requirejs(['ModelRelief']);
            }
        </script>
    }

