@model IEnumerable<Model3d>

@{
    ViewBag.Title = "Model Catalog";
}

<table id="modelCatalog">
    @foreach (Model3d model3d in Model)
        {
        <tr>
            <td>
                <a asp-action="Viewer" asp-route-id="@model3d.Id">View Model</a>
            </td>
            <td>@model3d.Name</td>
        </tr>
        }
</table>

<a asp-action="Create">Create</a>

@section footer{
hello, world   
}