@model IEnumerable<Model3d>

@{
    ViewBag.Title = "Model Catalog";
}

<h2>Catalog</h2>
@foreach (Model3d model3d in Model)
    {
    @Html.Partial("_Summary", model3d);
    }

<div>
    <br />
    <a asp-action="Create">Create</a>
</div>
