@model IEnumerable<Model3d>

@{
    ViewBag.Title = "Model Catalog";
}

<table id="modelCatalog">
    @foreach (Model3d model3d in Model)
        {
        <tr>
            <td>@Html.ActionLink("Viewer", "Viewer", new { id = model3d.Id })</td>
            <td>@model3d.Name</td>
        </tr>
        }
</table>

@section footer{
hello, world   
}