@model ModelRelief.Entitities.Model3d

@{
    ViewBag.Title = "Model Viewer";
}

<body>
    <div id="glFullscreen">
        <div id="dat"></div>
        <canvas id="model3D"></canvas>
    </div>

    <input id="fileUploadInput" type="file" name="files[]" multiple accept=".obj,.mtl" />

    <text id="modelName">@Model.Name</text>
    <text id="modelPath">@Model.Path</text>

    <!------------------------------------------------------------------------------------------------>
    <!--                                    Libraries                                               -->
    <!------------------------------------------------------------------------------------------------>
    <script src="/lib/threejs/Detector.js"></script>

    <script src="/lib/threejs/three.js"></script>

    <script src="/lib/threejs/MTLLoader.js"></script>
    <script src="/lib/threejs/OBJLoader2.js"></script>
    <script src="/lib/threejs/WWOBJLoader2.js"></script>

    <!------------------------------------------------------------------------------------------------>
    <!--                                    ModelRelief                                             -->
    <!------------------------------------------------------------------------------------------------>
    <script src="/lib/require.js"></script>
    <script>
        requirejs.config({
            baseUrl: 'lib',
            paths: {
                main                                    : '/js/modelrelief',
                //TrackballControls                       : '/js/modelrelief',

                three                                   : '/lib/threejs/three',
               'dat-gui'                                : '/lib/threejs/dat.gui.min'
            }
        });
        window.onload = function () {
            // main ap
            requirejs(['main']);
        }
    </script>
   
</body>


