@model ModelRelief.Entitities.Model3d

@{
    ViewBag.Title = "Model Viewer";
}

<body>
    <div id="glFullscreen">
        <canvas id="model3D"></canvas>
    </div>
    <div id="dat">

    </div>

    <div id="info">
        <div id="feedback"></div>
    </div>
    <input id="fileUploadInput" type="file" name="files[]" multiple accept=".obj,.mtl" />


    <text id="modelName">@Model.Name</text>
    <text id="modelPath">@Model.Path</text>

    <!------------------------------------------------------------------------------------------------>
    <!--                                    Libraries                                               -->
    <!------------------------------------------------------------------------------------------------>
    <script src="/lib/threejs/examples/js/Detector.js"></script>
    <script src="/lib/threejs/build//three.js"></script>
    <script src="/lib/threejs/examples/js/controls/TrackballControls.js"></script>
    <script src="/lib/threejs/examples/js/loaders/MTLLoader.js"></script>
    <script src="/lib/threejs/examples/js/libs/dat.gui.min.js"></script>

    <script src="/lib/threejs/examples/js/loaders/OBJLoader2.js"></script>
    <script src="/lib/threejs/examples/js/loaders/WWOBJLoader2.js"></script>

    <!------------------------------------------------------------------------------------------------>
    <!--                                    ModelRelief                                             -->
    <!------------------------------------------------------------------------------------------------>
    <script src="/js/modelrelief.js"></script>
</body>


