@model ModelRelief.Entitities.Model3d

@{
    ViewBag.Title = "Model Viewer";
}

<body>
    <div id="glFullscreen">
        <div id="dat"></div>
        <canvas id="model3D"></canvas>
    </div>

    <div id="info">
        <div id="feedback"></div>
    </div>
    <input id="fileUploadInput" type="file" name="files[]" multiple accept=".obj,.mtl" />

    <text id="modelName">@Model.Name</text>
    <text id="modelPath">@Model.Path</text>

    <!------------------------------------------------------------------------------------------------>
    <!--                                    Libraries                                               -->
    <!------------------------------------------------------------------------------------------------>

    <script src="/lib/threejs/Detector.js"></script>
    <script src="/lib/threejs/three.js"></script>
    <script src="/lib/threejs/TrackballControls.js"></script>
    <script src="/lib/threejs/MTLLoader.js"></script>
    <script src="/lib/threejs/dat.gui.min.js"></script>

    <script src="/lib/threejs/OBJLoader2.js"></script>
    <script src="/lib/threejs/WWOBJLoader2.js"></script>

    <!------------------------------------------------------------------------------------------------>
    <!--                                    ModelRelief                                             -->
    <!------------------------------------------------------------------------------------------------>
    <script src="/js/modelrelief.js"></script>
    <script>
        window.onload = () => {
            MR.run();
        }
    </script>
   
</body>


