@using ModelRelief.Features.Settings
@model List<ModelRelief.Dto.Project>

@inject ISettingsManager settingsManager;
@{ var userSettings = await settingsManager.InitializeUserSettingsAsync(User); }

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img class="mt-0 mr-1" src="~/images/IconWhite.png" alt="ModelRelief Shell" height="24" width="24">
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">modelRelief<span class="font-weight-lighter"><sup> preview</sup></span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav mr-auto">
            @if (User.Identity.IsAuthenticated)
            {
                <div class="nav-item dropdown mr-3">
                    <a id="projectMenuLabel" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Projects</a>
                    <div id="projectMenu" class="dropdown-menu">
                        @foreach (var project in Model)
                        {
                        <a class="dropdown-item" data-projectid="@project.Id" href="#">@project.Name</a>
                        }
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/projects/create">Create New Project</a>
                    </div>
                </div>
                <a class="nav-item nav-link" asp-area="" asp-controller="Models" asp-action="Index">Models</a>
                <a class="nav-item nav-link" asp-area="" asp-controller="Settings" asp-action="Edit" asp-route-Id="@userSettings.Id">Settings</a>
            }
            @if (User.Identity.IsAuthenticated && userSettings.DevelopmentUI)
            {
                <span class="vertical-line"></span>
                <a class="nav-item nav-link" asp-area="" asp-controller="Cameras" asp-action="Index">Cameras</a>
                <a class="nav-item nav-link" asp-area="" asp-controller="Depth-buffers" asp-action="Index">DepthBuffers</a>
                <a class="nav-item nav-link" asp-area="" asp-controller="Meshes" asp-action="Index">Meshes</a>
                <a class="nav-item nav-link" asp-area="" asp-controller="Mesh-transforms" asp-action="Index">MeshTransforms</a>
                <a class="nav-item nav-link" asp-area="" asp-controller="Normal-maps" asp-action="Index">NormalMaps</a>
                <a class="nav-item nav-link" asp-area="" asp-controller="Workbench" asp-action="Index">Workbench</a>
                <span class="vertical-line"></span>
            }
            <a class="nav-item nav-link" asp-area="" asp-controller="Home" asp-action="About">About</a>
            <a class="nav-item nav-link" asp-area="" asp-controller="Home" asp-action="Credits">Credits</a>
        </div>
        <partial name="_LoginPartial" />
    </div>
</nav>