<main>
    <div class="container-fluid">

        <div>
            <h2 class="mt-5 mb-4">About</h2>
                <span>ModelRelief is a powerful tool to create a bas-relief (sculptural low relief) from a 3D model.</span>
        </div>
    </div>
</main>