@using ModelRelief.Features.Accounts

@{
    ViewBag.Title = "Bas-Reliefs From 3D Models Technical Credits And Resources | ModelRelief";
    ViewBag.Description = "ModelRelief creates bas-reliefs from 3D models using these technical resources, algorithms and software components.";
}

<style>

    .creditTable {
        margin-left: 10%;
        margin-right: 10%;
    }

    .creditHeading {
        font-size: 16pt;
        color: lightgray;
    }

    .creditTechnology {
        font-size: 12pt;
    }

    .creditDescription {
        font-size: 10pt;
    }

    .creditLicense {
        font-size: 10pt;
    }

    .creditTable a:hover {
        color: darkturquoise;
    }

    .creditTable a:link {
        color: white;
    }

    .creditTable a:visited {
        color: white;
    }

    .creditTable a:hover {
        color: cyan;
    }

    .creditTable a:active {
        color: blue;
    }
</style>

<main>
    <div class="container-fluid">

        <div class="creditTable">
            <h2 class="mt-5 mb-4">Technical Credits</h2>
            <p>ModelRelief creates bas-reliefs from 3D models using these technical resources, algorithms and software components.</p>
            <section class="creditSection mt-4">
                <span class="creditHeading">Algorithms</span>
                <hr class="mt-0" />

                <div class="row">
                    <div class="col-md-2">
                        <a class="creditTechnology" target="_blank" href="https://people.mpi-inf.mpg.de/~kerber/">Dr. Jens Kerber</a>
                    </div>
                    <div class="col-md-8">
                        <span class="creditDescription">Dr. Kerber is a leading computer scientist researcher in the field of digital bas-reliefs. <br />Much of the processing in ModelRelief is based on his master's thesis at the Univesity of Saarland <a class="creditTechnology" target="_blank" href="https://people.mpi-inf.mpg.de/~kerber/publications/Jens_Kerber_Masterthesis.pdf">Digitial Art of Bas-Relief Sculpting</a>. </span>
                    </div>
                    <div class="col-md-2">
                        <span class="creditLicense"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <a class="creditTechnology" target="_blank" href="http://blog.ivank.net/fastest-gaussian-blur.html">Fast Gaussian Blur</a>
                    </div>
                    <div class="col-md-8">
                        <span class="creditDescription">Ivan Kutskir's  algorithm for performing Gaussian blur operations in near linear time. Based on <a class="creditTechnology" target="_blank" href="http://elynxsdk.free.fr/ext-docs/Blur/Fast_box_blur.pdf">Fast image convolutions</a> by Wojciech Jarosz</span>
                    </div>
                    <div class="col-md-2">
                        <span class="creditLicense">MIT License</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <a class="creditTechnology" target="_blank" href="https://www.peterkovesi.com/matlabfns">Gaussian Box Blur</a>
                    </div>
                    <div class="col-md-8">
                        <span class="creditDescription">MATLAB and Octave Functions for Computer Vision and Image Processing</span>
                    </div>
                    <div class="col-md-2">
                        <span class="creditLicense">MIT License</span>
                    </div>
                </div>

            </section>

            <section class="creditSection mt-4">
                <span class="creditHeading">Front End</span>
                <hr class="mt-0" />

                <div class="row">
                    <div class="col-md-2">
                        <a class="creditTechnology" target="_blank" href="https://threejs.org">three.js</a>
                    </div>
                    <div class="col-md-8">
                        <span class="creditDescription">JavaScript library for 3D graphics based on WebGL</span>
                    </div>
                    <div class="col-md-2">
                        <span class="creditLicense">MIT License</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <a class="creditTechnology" target="_blank" href="https://www.typescriptlang.org/">TypeScript</a>
                    </div>
                    <div class="col-md-8">
                        <span class="creditDescription">Typed superset of JavaScript that compiles to JavaScript</span>
                    </div>
                    <div class="col-md-2">
                        <span class="creditLicense">Apache License</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <a class="creditTechnology" target="_blank" href="https://getbootstrap.com/">Bootstrap</a>
                    </div>
                    <div class="col-md-8">
                        <span class="creditDescription">Open source toolkit for development with HTML, CSS and JavaScript</span>
                    </div>
                    <div class="col-md-2">
                        <span class="creditLicense">MIT License</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <a class="creditTechnology" target="_blank" href="https://mdbootstrap.com/">MDBootstrap</a>
                    </div>
                    <div class="col-md-8">
                        <span class="creditDescription">Material Design for Bootstrap</span>
                    </div>
                    <div class="col-md-2">
                        <span class="creditLicense">Commercial</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <a class="creditTechnology" target="_blank" href="https://github.com/beatgammit/base64-js/blob/master/index.js">base64</a>
                    </div>
                    <div class="col-md-8">
                        <span class="creditDescription">Basic base64 encoding/decoding in pure JavaScript</span>
                    </div>
                    <div class="col-md-2">
                        <span class="creditLicense">MIT License</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <a class="creditTechnology" target="_blank" href="https://www.npmjs.com/package/http-status-codes">http-status-codes</a>
                    </div>
                    <div class="col-md-8">
                        <span class="creditDescription">Constants enumerating the HTTP status codes. Based on the Java Apache HttpStatus API</span>
                    </div>
                    <div class="col-md-2">
                        <span class="creditLicense">MIT License</span>
                    </div>
                </div>


            </section>

            <section class="creditSection mt-4">
                <span class="creditHeading">Back End</span>
                <hr class="mt-0" />

                <div class="row">

                    <div class="col-md-2">
                        <a class="creditTechnology" target="_blank" href="https://www.python.org/">Python</a>
                    </div>
                    <div class="col-md-8">
                        <span class="creditDescription">Interpreted, high-level, general-purpose programming language</span>
                    </div>
                    <div class="col-md-2">
                        <a class="creditLicense" target="_blank" href="https://en.wikipedia.org/wiki/Python_Software_Foundation_License">Python Software Foundation License</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <a class="creditTechnology" target="_blank" href="https://github.com/pyamg/pyamg">PyAMG</a>
                    </div>
                    <div class="col-md-8">
                        <span class="creditDescription">Python Algebraic Multigrid Solver</span>
                    </div>
                    <div class="col-md-2">
                        <span class="creditLicense">MIT License</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <a class="creditTechnology" target="_blank" href="https://www.numpy.org/">NumPy</a>
                    </div>
                    <div class="col-md-8">
                        <span class="creditDescription">Fundamental package for scientific computing with Python</span>
                    </div>
                    <div class="col-md-2">
                        <a class="creditLicense" target="_blank" href="https://www.numpy.org/license.html">Numpy License</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <a class="creditTechnology" target="_blank" href="https://www.scipy.org/">SciPy</a>
                    </div>
                    <div class="col-md-8">
                        <span class="creditDescription">Python-based ecosystem of open-source software for mathematics, science, and engineering</span>
                    </div>
                    <div class="col-md-2">
                        <a class="creditLicense" target="_blank" href="https://en.wikipedia.org/wiki/BSD_licenses#3-clause">BSD New License</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <a class="creditTechnology" target="_blank" href="https://docs.enthought.com/mayavi/mayavi/">Mavavi</a>
                    </div>
                    <div class="col-md-8">
                        <span class="creditDescription">3D scientific data visualization and plotting in Python<br />Ramachandran, P. and Varoquaux, G., `Mayavi: 3D Visualization of Scientific Data` IEEE Computing in Science & Engineering, 13 (2), pp. 40-51 (2011)</span>
                    </div>
                    <div class="col-md-2">
                        <span class="creditLicense">MIT, GPL Licenses</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <a class="creditTechnology" target="_blank" href="https://en.wikipedia.org/wiki/C_Sharp_(programming_language)">C# Programming Language</a>
                    </div>
                    <div class="col-md-8">
                        <span class="creditDescription">General-purpose, multi-paradigm programming language</span>
                    </div>
                    <div class="col-md-2">
                        <span class="creditLicense">Microsoft</span>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <a class="creditTechnology" target="_blank" href="https://docs.microsoft.com/en-us/aspnet/core/?view=aspnetcore-2.2/">ASP.NET Core</a>
                    </div>
                    <div class="col-md-8">
                        <span class="creditDescription">ASP.NET Core is a cross-platform .NET framework for building modern cloud-based web applications on Windows, Mac, or Linux</span>
                    </div>
                    <div class="col-md-2">
                        <span class="creditLicense">Apache License</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <a class="creditTechnology" target="_blank" href="https://www.microsoft.com/en-us/sql-server/sql-server-editions-express">SQL Server Express</a>
                    </div>
                    <div class="col-md-8">
                        <span class="creditDescription">SQL Relational Database</span>
                    </div>
                    <div class="col-md-2">
                        <span class="creditLicense">Microsoft</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <a class="creditTechnology" target="_blank" href="https://github.com/autofac/Autofac">Autofac</a>
                    </div>
                    <div class="col-md-8">
                        <span class="creditDescription">IoC container for Microsoft .NET</span>
                    </div>
                    <div class="col-md-2">
                        <span class="creditLicense">MIT License</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <a class="creditTechnology" target="_blank" href="https://github.com/AutoMapper/AutoMapper">AutoMapper</a>
                    </div>
                    <div class="col-md-8">
                        <span class="creditDescription">Convention-based object mapper for .NET</span>
                    </div>
                    <div class="col-md-2">
                        <span class="creditLicense">MIT License</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <a class="creditTechnology" target="_blank" href="https://auth0.com/">Auth0</a>
                    </div>
                    <div class="col-md-8">
                        <span class="creditDescription">Universal authentication & authorization platform for web, mobile and legacy applications</span>
                    </div>
                    <div class="col-md-2">
                        <span class="creditLicense">Auth0 Free Plan</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <a class="creditTechnology" target="_blank" href="https://github.com/jbogard/MediatR">MediatR</a>
                    </div>
                    <div class="col-md-8">
                        <span class="creditDescription">Jimmy Bogard's simple mediator implementation in .NET</span>
                    </div>
                    <div class="col-md-2">
                        <span class="creditLicense">Apache License</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <a class="creditTechnology" target="_blank" href="https://raw.githubusercontent.com/OdeToCode/AddFeatureFolders/master/LICENSE">FeatureFolders</a>
                    </div>
                    <div class="col-md-8">
                        <span class="creditDescription">K. Scott Allen's extensions to MVC for organizing projects by features</span>
                    </div>
                    <div class="col-md-2">
                        <span class="creditLicense">MIT License</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <a class="creditTechnology" target="_blank" href="https://github.com/schneidenbach/RecessOpinionatedApiInAspNetCore">Opinionated API Controller</a>
                    </div>
                    <div class="col-md-8">
                        <span class="creditDescription">Spencer Schneidenbach's API architecture for .NET MVC based on Jimmy Bogard's work</span>
                    </div>
                    <div class="col-md-2">
                        <span class="creditLicense">MIT License</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <a class="creditTechnology" target="_blank" href="https://github.com/jbogard/ContosoUniversityDotNetCore/blob/master/LICENSE">Contoso University Core</a>
                    </div>
                    <div class="col-md-8">
                        <span class="creditDescription">Jimmy Bogard's implementation of Contoso University showing .NET Core best practices</span>
                    </div>
                    <div class="col-md-2">
                        <span class="creditLicense">MIT License</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <a class="creditTechnology" target="_blank" href="https://serilog.net/">Serilog</a>
                    </div>
                    <div class="col-md-8">
                        <span class="creditDescription">Structured logging for .NET applications</span>
                    </div>
                    <div class="col-md-2">
                        <span class="creditLicense">Apache License</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <a class="creditTechnology" target="_blank" href="https://github.com/commandlineparser/commandline">Command Line Parser</a>
                    </div>
                    <div class="col-md-8">
                        <span class="creditDescription">Command line parser library for CLS and NetStandard</span>
                    </div>
                    <div class="col-md-2">
                        <span class="creditLicense">MIT License</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <a class="creditTechnology" target="_blank" href="https://github.com/jstedfast/MailKit">MailKit</a>
                    </div>
                    <div class="col-md-8">
                        <span class="creditDescription">A cross-platform .NET library for IMAP, POP3, and SMTP</span>
                    </div>
                    <div class="col-md-2">
                        <a class="creditLicense" target="_blank" href="https://github.com/jstedfast/MailKit/blob/master/License.md">Xamarin Copyright, MIT License</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <a class="creditTechnology" target="_blank" href="https://github.com/domaindrivendev/Swashbuckle.AspNetCore">Swashbuckle</a>
                    </div>
                    <div class="col-md-8">
                        <span class="creditDescription">Swagger tooling for API's built with ASP.NET Core </span>
                    </div>
                    <div class="col-md-2">
                        <span class="creditLicense">MIT License</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <a class="creditTechnology" target="_blank" href="https://github.com/JeremySkinner/FluentValidation">Fluent Validation</a>
                    </div>
                    <div class="col-md-8">
                        <span class="creditDescription">.NET validation for building strongly-typed validation rules</span>
                    </div>
                    <div class="col-md-2">
                        <span class="creditLicense">Apache 2.0 License</span>
                    </div>
                </div>
            </section>

            <section class="creditSection mt-4">
                <span class="creditHeading">3D Models</span>
                <hr class="mt-0" />

                <div class="row">
                    <div class="col-md-2">
                        <a class="creditTechnology" target="_blank" href="http://graphics.stanford.edu/data/3Dscanrep/">Lucy</a>
                    </div>
                    <div class="col-md-8">
                        <span class="creditDescription">Stanford Computer Graphics Laboratory</span>
                    </div>
                    <div class="col-md-2">
                        <span class="creditLicense">Academic Research</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <a class="creditTechnology" target="_blank" href="http://graphics.stanford.edu/data/3Dscanrep/">Dragon</a>
                    </div>
                    <div class="col-md-8">
                        <span class="creditDescription">Stanford Computer Graphics Laboratory</span>
                    </div>
                    <div class="col-md-2">
                        <span class="creditLicense">Academic Research</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <a class="creditTechnology" target="_blank" href="https://www.thingiverse.com/thing:144775">Plunderbuss Pete</a>
                    </div>
                    <div class="col-md-8">
                        <span class="creditDescription">bendansie, Thingiverse</span>
                    </div>
                    <div class="col-md-2">
                        <a class="creditLicense" target="_blank" href="https://creativecommons.org/publicdomain/zero/1.0/">Creative Commons</a>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-2">
                        <a class="creditTechnology" target="_blank" href="https://www.turbosquid.com/3d-models/statue-3d-model/587173">Prancing Horse</a>
                    </div>
                    <div class="col-md-8">
                        <span class="creditDescription">Mike Malloy, Turbosquid</span>
                    </div>
                    <div class="col-md-2">
                        <a class="creditLicense" target="_blank" href="https://blog.turbosquid.com/royalty-free-license/">Royalty Free</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <a class="creditTechnology" target="_blank" href="https://www.turbosquid.com/FullPreview/Index.cfm/ID/832520">San Francisco House</a>
                    </div>
                    <div class="col-md-8">
                        <span class="creditDescription">bretwalda, TurboSquid</span>
                    </div>
                    <div class="col-md-2">
                        <a class="creditLicense" target="_blank" href="https://blog.turbosquid.com/royalty-free-license/">Royalty Free</a>
                    </div>
                </div>
            </section>

            <section class="creditSection mt-4">
                <span class="creditHeading">Art</span>
                <hr class="mt-0" />

                <div class="row">
                    <div class="col-md-2">
                        <a class="creditTechnology" target="_blank" href="https://www.dreamstime.com/scallop-logo-isolated-scallop-white-background-scallop-logo-isolated-scallop-white-background-eps-vector-illustration-image131838280">Scallop Logo</a>
                    </div>
                    <div class="col-md-8">
                        <span class="creditDescription">ID 131838280 © Oleg Gur | Dreamstime.com</span>
                    </div>
                    <div class="col-md-2">
                        <span class="creditLicense">Royalty Free</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <a class="creditTechnology" target="_blank" href="">Scallop Icon</a>
                    </div>
                    <div class="col-md-8">
                        <div class="creditDescription">
                            Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <span class="creditLicense">Royalty Free</span>
                    </div>
                </div>

            </section>
        </div>
    </div>

</main>
