@using ModelRelief.Features.Accounts

@{
    ViewBag.Title = "Credits";
}

<style>
    .creditTable {
        margin-left: 10%;
        margin-right: 10%;
    }

    .creditHeading {
        font-size: 16pt;
    }
    .creditTechnology {
        font-size: 14pt;
    }
    .creditDescription {
        font-size: 12pt;
    }
    .creditLicense {
        font-size: 12pt;
    }
    .creditTable a:hover {
        color: darkturquoise;
    }
   

</style>

<main>
    <div class="container-fluid">

        <div class="creditTable">
            <h2 class="mt-5 mb-4">Technical Credits</h2>

            <section class="creditSection mt-4">
                <span class="creditHeading">Algorithms</span>
                <hr class="mt-0" />

                <div class="row">
                    <div class="col-md-2">
                        <a class="creditTechnology" target="_blank" href="">Placeholder</a>
                    </div>
                    <div class="col-md-8">
                        <span class="creditDescription">Placeholder</span>
                    </div>
                    <div class="col-md-2">
                        <span class="creditLicense">Placeholder</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <a class="creditTechnology" target="_blank" href="">Placeholder</a>
                    </div>
                    <div class="col-md-8">
                        <span class="creditDescription">Placeholder</span>
                    </div>
                    <div class="col-md-2">
                        <span class="creditLicense">Placeholder</span>
                    </div>
                </div>
            </section>

            <section class="creditSection mt-4">
                <span class="creditHeading">Front End</span>
                <hr class="mt-0" />

                <div class="row">
                    <div class="col-md-2">
                        <a class="creditTechnology" target="_blank" href="https://threejs.org">three.js</a>
                    </div>
                    <div class="col-md-8">
                        <span class="creditDescription">JavaScript library for 3D graphics based on WebGL</span>
                    </div>
                    <div class="col-md-2">
                        <span class="creditLicense">MIT License</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <a class="creditTechnology" target="_blank" href="https://www.typescriptlang.org/">TypeScript</a>
                    </div>
                    <div class="col-md-8">
                        <span class="creditDescription">Typed superset of JavaScript that compiles to JavaScript</span>
                    </div>
                    <div class="col-md-2">
                        <span class="creditLicense">Apache License</span>
                    </div>
                </div>
            </section>

            <section class="creditSection mt-4">
                <span class="creditHeading">Back End</span>
                <hr class="mt-0" />

                <div class="row">
                    <div class="col-md-2">
                        <a class="creditTechnology" target="_blank" href="https://docs.microsoft.com/en-us/aspnet/core/?view=aspnetcore-2.2/">ASP.NET Core</a>
                    </div>
                    <div class="col-md-8">
                        <span class="creditDescription">ASP.NET Core is a cross-platform .NET framework for building modern cloud-based web applications on Windows, Mac, or Linux</span>
                    </div>
                    <div class="col-md-2">
                        <span class="creditLicense">Apache License</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <a class="creditTechnology" target="_blank" href="https://www.numpy.org//">NumPy</a>
                    </div>
                    <div class="col-md-8">
                        <span class="creditDescription">Fundamental package for scientific computing with Python</span>
                    </div>
                    <div class="col-md-2">
                        <a  class="creditLicense" target="_blank" href="https://www.numpy.org/license.html">License</a>
                    </div>
            </section>

            <section class="creditSection mt-4">
                <span class="creditHeading">3D Models</span>
                <hr class="mt-0" />

                <div class="row">
                    <div class="col-md-2">
                        <a class="creditTechnology" target="_blank" href="">Placeholder</a>
                    </div>
                    <div class="col-md-8">
                        <span class="creditDescription">Placeholder</span>
                    </div>
                    <div class="col-md-2">
                        <span class="creditLicense">Placeholder</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <a class="creditTechnology" target="_blank" href="">Placeholder</a>
                    </div>
                    <div class="col-md-8">
                        <span class="creditDescription">Placeholder</span>
                    </div>
                    <div class="col-md-2">
                        <span class="creditLicense">Placeholder</span>
                    </div>
                </div>
            </section>

        </div>
    </div>
    </div>
</main>
