@{
ViewBag.Title = "Create Bas-Reliefs (Sculptural Low Reliefs) From 3D Models | ModelRelief";
ViewBag.Description = "Easily create bas-reliefs (sculptural low reliefs) from 3D models. Using any perspective view of a 3D model, the online tool ModelRelief will quickly generate a bas-reliefs from your 3D model.";
}

<!--Main layout-->
<main class="mt-5">
    <!--Main container-->
    <div class="container">

        <!--Grid row-->
        <div class="row">

            <div class="col-md-9 mb-4">
                <h2>3D Models to Bas-Reliefs. Simple.</h2>
                <hr>
                <p>ModelRelief is a powerful tool to create a bas-relief (sculptural low relief) from a 3D model. This is a preview to get your ideas about next steps!</p>
                <p>Please see the Credits page for the all people and technology that made this possible.</p>
            </div>
            <div class="col-md-2 mb-4">
                <img src="~/images/ModelReliefWhite.png" class="card-img-top" alt="">
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 mb-4">
                <h5>Compose a View</h5>
                <img src="~/images/3DModel.png" class="card-img-top" alt="">
                <p>Any perspective view of a 3D model can be quickly set up and used to generate a relief.</p>
            </div>
            <div class="col-md-4 mb-4">
                <h5>Image Processing...</h5>
                <img src="~/images/DepthBuffer.png" class="card-img-top" alt="">
                <p>Advanced image processing algorithms manipulate the 3D model in the image domain.</p>
            </div>
            <div class="col-md-4 mb-4">
                <h5>Bas-Relief Generated!</h5>
                <img src="~/images/Relief.png" class="card-img-top" alt="">
                <p>A relief mesh is created that preserves the detail in the original model.</p>
            </div>

        </div>

        <h2>Gallery</h2>
        <hr>
        <p>Select any one of the test models and try your own experiments.</p>
        <p>You will need to create a free account so we can store your test projects. </p>
        <p>Please let us know below what you would like to see next!</p>

        <!--Grid row-->
        <div class="row">

            <div class="col-lg-4 col-md-6 mb-4">

                <!--Card-->
                <div class="card">

                    <!--Card image-->
                    <a href="/meshes/compose/?name=lucy">
                        <div class="rippleContainer">
                            <img src="~/images/Lucy.png" class="card-img-top" alt="">
                            <div class="ripple"></div>
                        </div>
                    </a>
                    <!--Card content-->
                    <div class="card-body">
                        <!--Title-->
                        <h5 class="card-title">Lucy</h5>
                        <a href="/meshes/compose/?name=lucy" class="actionButton btn button-rounded btn-sm">CREATE</a>
                    </div>
                </div>
                <!--/.Card-->

            </div>

            <div class="col-lg-4 col-md-6 mb-4">

                <!--Card-->
                <div class="card">

                    <!--Card image-->
                    <div class="">
                        <a href="/meshes/compose/?name=scallop">
                            <div class="rippleContainer">
                                <img src="~/images/Scallop.png" class="card-img-top" alt="">
                                <div class="ripple"></div>
                            </div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">
                        <!--Title-->
                        <h5 class="card-title">Scallop Shell</h5>
                        <a href="/meshes/compose/?name=scallop" class="actionButton btn button-rounded btn-sm">CREATE</a>
                    </div>

                </div>
                <!--/.Card-->
            </div>

            <div class="col-lg-4 col-md-6 mb-4">

                <!--Card-->
                <div class="card">

                    <!--Card image-->
                    <div class="">
                        <a href="/meshes/compose/?name=horse">
                            <div class="rippleContainer">
                                <img src="~/images/Horse.png" class="card-img-top" alt="">
                                <div class="ripple"></div>
                            </div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">
                        <!--Title-->
                        <h5 class="card-title">Prancing Horse</h5>
                        <a href="/meshes/compose/?name=horse" class="actionButton btn button-rounded btn-sm">CREATE</a>
                    </div>

                </div>
                <!--/.Card-->

            </div>
        </div>

        <!--Grid row-->
        <div class="row">

            <div class="col-lg-4 col-md-6 mb-4">

                <!--Card-->
                <div class="card">

                    <!--Card image-->
                    <div class="">
                        <a href="/meshes/compose/?name=dragon">
                            <div class="rippleContainer">
                                <img src="~/images/Dragon.png" class="card-img-top" alt="">
                                <div class="ripple"></div>
                            </div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">
                        <!--Title-->
                        <h5 class="card-title">Chinese Dragon</h5>
                        <a href="/meshes/compose/?name=dragon" class="actionButton btn button-rounded btn-sm">CREATE</a>
                    </div>

                </div>
                <!--/.Card-->

            </div>

            <div class="col-lg-4 col-md-6 mb-4">

                <!--Card-->
                <div class="card">

                    <!--Card image-->
                    <div class="">
                        <a href="/meshes/compose/?name=plunderbusspete">
                        <div class="rippleContainer">
                            <img src="~/images/PlunderbussPete.png" class="card-img-top" alt="">
                            <div class="ripple"></div>
                        </div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">
                        <!--Title-->
                        <h5 class="card-title">Plunderbuss Pete</h5>
                        <a href="/meshes/compose/?name=plunderbusspete" class="actionButton btn button-rounded btn-sm">CREATE</a>
                    </div>

                </div>
                <!--/.Card-->

            </div>

            <div class="col-lg-4 col-md-6 mb-4">

                <!--Card-->
                <div class="card">

                    <!--Card image-->
                    <div class="">
                        <a href="/meshes/compose/?name=house">
                        <div class="rippleContainer">
                            <img src="~/images/House.png" class="card-img-top" alt="">
                            <div class="ripple"></div>
                        </div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">
                        <!--Title-->
                        <h5 class="card-title">San Francisco House</h5>
                        <!--Text-->
                        <a href="/meshes/compose/?name=house" class="actionButton btn button-rounded btn-sm">CREATE</a>
                    </div>

                </div>
                <!--/.Card-->
            </div>

        </div>
    </div>

    <!--Section: contact-->
    <section id="contact" class="py-5">
        <div class="container">

            <!-- Section heading -->
            <h2 class="text-center mb-5">Contact us</h2>
            <!-- Section description -->
            <p class="text-center mx-auto mb-5">Please let us know what you think! <br />We would love to hear your comment and suggestions about where to go next with ModelRelief.</p>

            <form id="contact-form" name="contact-form">

                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-md-9 mb-md-0 mb-5">

                            <!-- Grid row -->
                            <div class="row">

                                <!-- Grid column -->
                                <div class="col-md-6">
                                    <div class="mb-0">
                                        <input type="text" id="contact-name" name="Name" class="form-control">
                                        <label for="contact-name" class="">Your name</label>
                                    </div>
                                </div>
                                <!-- Grid column -->
                                <!-- Grid column -->
                                <div class="col-md-6">
                                    <div class="mb-0">
                                        <input type="text" id="contact-email" name="Email" class="form-control">
                                        <label for="contact-email" class="">Your email</label>
                                    </div>
                                </div>
                                <!-- Grid column -->

                            </div>
                            <!-- Grid row -->
                            <!-- Grid row -->
                            <div class="row">

                                <!-- Grid column -->
                                <div class="col-md-12">
                                    <div class="mb-0">
                                        <input type="text" id="contact-subject" name="Subject" class="form-control">
                                        <label for="contact-Subject" class="">Subject</label>
                                    </div>
                                </div>
                                <!-- Grid column -->

                            </div>
                            <!-- Grid row -->
                            <!-- Grid row -->
                            <div class="row">

                                <!-- Grid column -->
                                <div class="col-md-12">
                                    <div>
                                        <textarea type="text" id="contact-message" name="Message" class="form-control" rows="3"></textarea>
                                        <label for="contact-message">Your message</label>
                                    </div>
                                </div>
                                <!-- Grid column -->
                            </div>
                            <!-- Grid row -->
                            <div id="applicationDomain" class="mt-3">
                                <h6 class=>How do you plan to use ModelRelief?</h6>
                                <div class="row">
                                    <!-- Grid column -->
                                    <div class="col-md-3">
                                        <div class="form-check form-check-inline">
                                            <input type="checkbox" class="form-check-input" name="application[]" id="checkboxJewelry" value="Jewelry">
                                            <label for="checkboxJewelry" class="form-check-label">Jewelry</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input type="checkbox" class="form-check-input" name="application[]" id="checkboxArchitecturalDetails" value="ArchitecturalDetails">
                                            <label for="checkboxArchitecturalDetails" class="form-check-label">Architectural Details</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input type="checkbox" class="form-check-input" name="application[]" id="checkboxPackaging" value="Packaging">
                                            <label for="checkboxPackaging" class="form-check-label">Packaging</label>
                                        </div>
                                    </div>
                                    <!-- Grid column -->
                                    <!-- Grid column -->
                                    <div class="col-md-3">
                                        <div class="form-check form-check-inline">
                                            <input type="checkbox" class="form-check-input" name="application[]" id="checkboxWoodworking" value="Woodworking">
                                            <label for="checkboxWoodworking" class="form-check-label">Woodworking</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input type="checkbox" class="form-check-input" name="application[]" id="checkboxFoodMolds" value="FoodMolds">
                                            <label for="checkboxFoodMolds" class="form-check-label">Food Molds</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input type="checkbox" class="form-check-input" name="application[]" id="checkbox3DPrinting" value="3DPrinting">
                                            <label for="checkbox3DPrinting" class="form-check-label">3D Printing</label>
                                        </div>
                                    </div>
                                    <!-- Grid column -->
                                    <!-- Grid column -->
                                    <div class="col-md-3">
                                        <div class="">
                                            <input type="text" id="applicationOther" name="applicationOther" class="form-control">
                                            <label for="applicationOther" class="">Other</label>
                                        </div>
                                    </div>
                                    <!-- Grid column -->
                                </div>
                            </div>

                            <hr />
                            <div class="text-center text-md-left">
                                <input id="sendButton" type="button" class="actionButton button-rounded btn mt-1" onclick="home.validateForm()" value="Send" />
                            <div class="g-recaptcha mt-4 mb-0" data-sitekey='@ViewData["ReCaptchaKey"]' data-callback="home.recaptchaCallBack"></div>
                            </div>
                            <div id="contact-form-status"></div>

                    </div>

                    <!-- Grid column -->
                    <div class="col-md-3 text-center">
                        <i class='far fa-newspaper' style='font-size:48px'></i>
                        <br>
                        <input type="checkbox" class="form-check-input" name="Newsletter" id="checkboxNewsletter">
                        <label for="checkboxNewsletter" class="form-check-label">Sign Up For Our Newsletter</label>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </form>
        </div>

    </section>
    <!--Section: contact-->
    <!--Main container-->
</main>
<!--Main layout-->

    @section scripts {
    <script>
        window.onload = (function (existingOnLoad) {
            return function () {
                existingOnLoad && existingOnLoad();
                requirejs(['Pages/Home']);
            }
        })(window.onload)
    </script>
    }
