@{
    ViewBag.Title = "Create Bas-Reliefs (Sculptural Low Reliefs) From 3D Models | ModelRelief";
    @*ViewBag.Title = $"ModelRelief {Environment.GetEnvironmentVariable("ASPNETCORE_Environment")}";*@

    ViewBag.Description = "Easily create bas-reliefs (sculptural low reliefs) from 3D models. Using any perspective view of a 3D model, the online tool ModelRelief will quickly generate a bas-reliefs from your 3D model.";
}
<style>
    form label {
        color: white !important;
    }
</style>

<!--Main layout-->
<main class="mt-5">
    <!--Main container-->
    <div class="container">

        <!--Grid row-->
        <div class="row">

            <div class="col-md-9 mb-4">
                <h2>3D Models to Bas-Reliefs. Simple.</h2>
                <hr>
                <p>A powerful tool to create a bas-relief (sculptural low relief) from a 3D model.</p>
                <p>Any perspective view of a 3D model can be quickly set up and used to generate a high-resolution bas-relief.</p>
            </div>
            <div class="col-md-3 mb-4">

                <img src="~/images/ModelReliefWhite.png" class="card-img-top" alt="">
            </div>

        </div>

        <!--Grid row-->
        <div class="row">

            <div class="col-lg-4 col-md-12 mb-4">

                <!--Card-->
                <div class="card">

                    <!--Card image-->
                    <div class="view overlay">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(72).jpg" class="card-img-top" alt="">
                        <a href="/composer/edit/?name=lucy">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">
                        <!--Title-->
                        <h4 class="card-title">Lucy</h4>
                        <!--Text-->
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the
                            bulk of the card's content.
                        </p>
                        <a href="/composer/edit/?name=lucy" class="btn btn-indigo">Lucy</a>
                    </div>

                </div>
                <!--/.Card-->

            </div>

            <div class="col-lg-4 col-md-6 mb-4">

                <!--Card-->
                <div class="card">

                    <!--Card image-->
                    <div class="view overlay">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(74).jpg" class="card-img-top" alt="">
                        <a href="/composer/edit/?name=dragon">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">
                        <!--Title-->
                        <h4 class="card-title">Dragon</h4>
                        <!--Text-->
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the
                            bulk of the card's content.
                        </p>
                        <a href="/composer/edit/?name=dragon" class="btn btn-indigo">Dragon</a>
                    </div>

                </div>
                <!--/.Card-->

            </div>

            <div class="col-lg-4 col-md-6 mb-4">

                <!--Card-->
                <div class="card">

                    <!--Card image-->
                    <div class="view overlay">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(75).jpg" class="card-img-top" alt="">
                        <a href="/composer/edit/?name=house">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">
                        <!--Title-->
                        <h4 class="card-title">House</h4>
                        <!--Text-->
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the
                            bulk of the card's content.
                        </p>
                        <a href="/composer/edit/?name=house" class="btn btn-indigo">House</a>
                    </div>

                </div>
                <!--/.Card-->
            </div>
        </div>

        <!--Grid row-->
        <div class="row">

            <div class="col-lg-4 col-md-12 mb-4">

                <!--Card-->
                <div class="card">

                    <!--Card image-->
                    <div class="view overlay">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(72).jpg" class="card-img-top" alt="">
                        <a href="/composer/edit/?name=lucy">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">
                        <!--Title-->
                        <h4 class="card-title">PlunderBuss Pete</h4>
                        <!--Text-->
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the
                            bulk of the card's content.
                        </p>
                        <a href="/composer/edit/?name=plunderbusspete" class="btn btn-indigo">Plunderbuss Pete</a>
                    </div>

                </div>
                <!--/.Card-->

            </div>

            <div class="col-lg-4 col-md-6 mb-4">

                <!--Card-->
                <div class="card">

                    <!--Card image-->
                    <div class="view overlay">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(74).jpg" class="card-img-top" alt="">
                        <a href="/composer/edit/?name=dragon">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">
                        <!--Title-->
                        <h4 class="card-title">Horse</h4>
                        <!--Text-->
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the
                            bulk of the card's content.
                        </p>
                        <a href="/composer/edit/?name=horse" class="btn btn-indigo">Horse</a>
                    </div>

                </div>
                <!--/.Card-->

            </div>

            <div class="col-lg-4 col-md-6 mb-4">

                <!--Card-->
                <div class="card">

                    <!--Card image-->
                    <div class="view overlay">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(75).jpg" class="card-img-top" alt="">
                        <a href="/composer/edit/?name=house">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">
                        <!--Title-->
                        <h4 class="card-title">Scallop</h4>
                        <!--Text-->
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the
                            bulk of the card's content.
                        </p>
                        <a href="/composer/edit/?name=scallop" class="btn btn-indigo">Scallop</a>
                    </div>

                </div>
                <!--/.Card-->
            </div>
        </div>
    </div>

    <!--Section: contact-->
    <section id="contact" class="py-5">
        <div class="container">

            <!-- Section heading -->
            <h2 class="h1-responsive font-weight-bold text-center mb-5">Contact us</h2>
            <!-- Section description -->
            <p class="text-center w-responsive mx-auto mb-5">Please let us know what you think! <br />We would love to hear your comment and suggestions about where to go next with ModelRelief.</p>

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-9 mb-md-0 mb-5">
                    <form id="contact-form" name="contact-form">

                        <!-- Grid row -->
                        <div class="row">

                            <!-- Grid column -->
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <input type="text" id="contact-name" name="Name" class="form-control">
                                    <label for="contact-name" class="">Your name</label>
                                </div>
                            </div>
                            <!-- Grid column -->
                            <!-- Grid column -->
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <input type="text" id="contact-email" name="Email" class="form-control">
                                    <label for="contact-email" class="">Your email</label>
                                </div>
                            </div>
                            <!-- Grid column -->

                        </div>
                        <!-- Grid row -->
                        <!-- Grid row -->
                        <div class="row">

                            <!-- Grid column -->
                            <div class="col-md-12">
                                <div class="md-form mb-0">
                                    <input type="text" id="contact-subject" name="Subject" class="form-control">
                                    <label for="contact-Subject" class="">Subject</label>
                                </div>
                            </div>
                            <!-- Grid column -->

                        </div>
                        <!-- Grid row -->
                        <!-- Grid row -->
                        <div class="row">

                            <!-- Grid column -->
                            <div class="col-md-12">
                                <div class="md-form">
                                    <textarea type="text" id="contact-message" name="Message" class="form-control md-textarea" rows="3"></textarea>
                                    <label for="contact-message">Your message</label>
                                </div>
                            </div>
                            <!-- Grid column -->
                        </div>
                        <!-- Grid row -->
                        <div id="applicationDomain" class="mt-3">
                            <h6><strong>How do you plan to use ModelRelief?</strong></h6>
                            <div class="row">
                                <!-- Grid column -->
                                <div class="col-md-4">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" name="application[]" id="checkboxJewelry" value="Jewelry">
                                        <label for="checkboxJewelry" class="form-check-label">Jewelry</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" name="application[]" id="checkboxArchitecturalDetails" value="ArchitecturalDetails">
                                        <label for="checkboxArchitecturalDetails" class="form-check-label">Architectural Details</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" name="application[]" id="checkboxPackaging" value="Packaging">
                                        <label for="checkboxPackaging" class="form-check-label">Packaging</label>
                                    </div>
                                    <div class="md-form mt-0 mb-0 ml-3">
                                        <input type="text" id="applicationOther" name="applicationOther" class="form-control">
                                        <label for="applicationOther" class="">Other</label>
                                    </div>
                                </div>
                                <!-- Grid column -->
                                <!-- Grid column -->
                                <div class="col-md-4">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" name="application[]" id="checkboxWoodworking" value="Woodworking">
                                        <label for="checkboxWoodworking" class="form-check-label">Woodworking</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" name="application[]" id="checkboxFoodMolds" value="FoodMolds">
                                        <label for="checkboxFoodMolds" class="form-check-label">Food Molds</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" name="application[]" id="checkbox3DPrinting" value="3DPrinting">
                                        <label for="checkbox3DPrinting" class="form-check-label">3D Printing</label>
                                    </div>
                                    <!-- Grid column -->
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="g-recaptcha mt-4 mb-0" data-sitekey="@ViewData["ReCaptchaKey"]" data-callback="recaptchaCallBack" ></div>
                        <div class="text-center text-md-left">
                            <input id="sendButton" type="button" class="btn btn-blue-grey btn-md mt-1" onclick="validateForm()" value="Send" />
                        </div>
                        <div id="contact-form-status" class="status"></div>
                    </form>

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-3 text-center">
                    <ul class="list-unstyled mb-0">
                        <li>
                            <i class="fas fa-envelope fa-2x mt-4 "></i>
                            <p class="mb-0">info@modelrelief.com</p>
                        </li>
                    </ul>
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>

    </section>
    <!--Section: contact-->
    <!--Main container-->
</main>
<!--Main layout-->

@section scripts {
    <!--******************************************************************************************-->
    <!--                                    Libraries                                             -->
    <!--******************************************************************************************-->
    <!--******************************************************************************************-->
    <!--                                    ModelRelief                                           -->
    <!--******************************************************************************************-->
    <script>

        function recaptchaCallBack() {

            const sendButton = document.querySelector("#sendButton");
            sendButton.style.cursor = "pointer";
        }

        function validateForm() {

            const name = document.getElementById('contact-name').value;
            if (name == "") {
                document.getElementById('contact-form-status').innerHTML = "Please enter a Name";
                return false;
            }

            const email = document.getElementById('contact-email').value;
            if (email == "") {
                document.getElementById('contact-form-status').innerHTML = "Please enter your e-mail address";
                return false;
            } else {
                var re = /^(([^<>()\[\]\\.,;:\s@@"]+(\.[^<>()\[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                if (!re.test(email)) {
                    document.getElementById('contact-form-status').innerHTML = "Your e-mail address is invalid";
                    return false;
                }
            }

            const subject = document.getElementById('contact-subject').value;
            if (subject == "") {
                document.getElementById('contact-form-status').innerHTML = "Please enter a subject";
                return false;
            }

            const message = document.getElementById('contact-message').value;
            if (message == "") {
                document.getElementById('contact-form-status').innerHTML = "Please enter a message";
                return false;
            }

            const reCAPTCHAResponse = grecaptcha.getResponse();
            if (reCAPTCHAResponse.length == 0) {
                document.getElementById('contact-form-status').innerHTML = "Please check 'I\'m not a robot.' before sending your message.";
                return false;
            }

            document.getElementById('contact-form-status').html = "Sending...";

            var applications = [];
            $('#applicationDomain input:checked').each(function () {
                applications.push(this.value);
            });

            formData = {
                'Name': $('input[name=Name]').val(),
                'Email': $('input[name=Email]').val(),
                'Subject': $('input[name=Subject]').val(),
                'Message': $('textarea[name=Message]').val(),

                'Applications': applications,
                'ApplicationOther': $('input[name=applicationOther]').val(),

                'ReCAPTCHAResponse': reCAPTCHAResponse
            };

            $.ajax({
                url: "Email/Send",
                type: "POST",
                data: formData,

                success: function (responseResult, textStatus, jqXHR) {

                    $('#contact-form-status').html(responseResult.message);
                    if (responseResult.mailSent) {
                        // reset the form if mail was sent successfully
                        $('#contact-form').closest('form').find("input[type=text], textarea").val("");
                        $('#contact-form').closest('form').find("input[type=checkbox]").prop('checked', false);
                        grecaptcha.reset();
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $('#contact-form-status').html(jqXHR.statusText);
                },
            });
        }
    </script>
}
