@{
    ViewBag.Title = "ModelRelief";
    @*ViewBag.Title = $"ModelRelief {Environment.GetEnvironmentVariable("ASPNETCORE_Environment")}";*@
}

<!--Main layout-->
<main class="mt-5">
    <!--Main container-->
    <div class="container">

        <!--Grid row-->
        <div class="row">

            <div class="col-md-7 mb-4">
                <div class="view overlay z-depth-1-half">
                    <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" class="card-img-top" alt="">
                    <div class="mask rgba-white-light"></div>
                </div>
            </div>

            <div class="col-md-5 mb-4">
                <h2>Some very awesome heading</h2>
                <hr>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis pariatur quod ipsum atque
                    quam dolorem
                    voluptate officia sunt placeat consectetur alias fugit cum praesentium ratione sint mollitia,
                    perferendis
                    natus quaerat!
                </p>
                <a class="btn-floating btn-lg purple-gradient"><i class="fas fa-bolt"></i></a>
            </div>
        </div>

        <!--Grid row-->
        <div class="row">

            <div class="col-lg-4 col-md-12 mb-4">

                <!--Card-->
                <div class="card">

                    <!--Card image-->
                    <div class="view overlay">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(72).jpg" class="card-img-top" alt="">
                        <a href="/composer/edit/?name=lucy">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">
                        <!--Title-->
                        <h4 class="card-title">Lucy</h4>
                        <!--Text-->
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the
                            bulk of the card's content.
                        </p>
                        <a href="/composer/edit/?name=lucy" class="btn btn-indigo">Lucy</a>
                    </div>

                </div>
                <!--/.Card-->

            </div>

            <div class="col-lg-4 col-md-6 mb-4">

                <!--Card-->
                <div class="card">

                    <!--Card image-->
                    <div class="view overlay">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(74).jpg" class="card-img-top" alt="">
                        <a href="/composer/edit/?name=dragon">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">
                        <!--Title-->
                        <h4 class="card-title">Dragon</h4>
                        <!--Text-->
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the
                            bulk of the card's content.
                        </p>
                        <a href="/composer/edit/?name=dragon" class="btn btn-indigo">Dragon</a>
                    </div>

                </div>
                <!--/.Card-->

            </div>

            <div class="col-lg-4 col-md-6 mb-4">

                <!--Card-->
                <div class="card">

                    <!--Card image-->
                    <div class="view overlay">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(75).jpg" class="card-img-top" alt="">
                        <a href="/composer/edit/?name=house">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">
                        <!--Title-->
                        <h4 class="card-title">House</h4>
                        <!--Text-->
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the
                            bulk of the card's content.
                        </p>
                        <a href="/composer/edit/?name=house" class="btn btn-indigo">House</a>
                    </div>

                </div>
                <!--/.Card-->
            </div>
        </div>

    </div>

    <!--Section: contact-->
    <section id="contact" class="py-5" style="background-color: rgb(20, 21, 22);">

        <div class="container">

            <!-- Section heading -->
            <h2 class="h1-responsive font-weight-bold text-center mb-5">Contact us</h2>
            <!-- Section description -->
            <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within a matter of hours to help you.</p>

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-9 mb-md-0 mb-5">
                    <form id="contact-form" name="contact-form">

                        <!-- Grid row -->
                        <div class="row">

                            <!-- Grid column -->
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <input type="text" id="contact-name" name="Name" class="form-control">
                                    <label for="contact-name" class="">Your name</label>
                                </div>
                            </div>
                            <!-- Grid column -->
                            <!-- Grid column -->
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <input type="text" id="contact-email" name="Email" class="form-control">
                                    <label for="contact-email" class="">Your email</label>
                                </div>
                            </div>
                            <!-- Grid column -->

                        </div>
                        <!-- Grid row -->
                        <!-- Grid row -->
                        <div class="row">

                            <!-- Grid column -->
                            <div class="col-md-12">
                                <div class="md-form mb-0">
                                    <input type="text" id="contact-subject" name="Subject" class="form-control">
                                    <label for="contact-Subject" class="">Subject</label>
                                </div>
                            </div>
                            <!-- Grid column -->

                        </div>
                        <!-- Grid row -->
                        <!-- Grid row -->
                        <div class="row">

                            <!-- Grid column -->
                            <div class="col-md-12">
                                <div class="md-form">
                                    <textarea type="text" id="contact-message" name="Message" class="form-control md-textarea" rows="3"></textarea>
                                    <label for="contact-message">Your message</label>
                                </div>
                            </div>
                            <!-- Grid column -->
                        </div>
                        <!-- Grid row -->

                        <div class="g-recaptcha" data-sitekey="@ViewData["ReCaptchaKey"]" data-callback="recaptchaCallBack" data-theme="dark"></div>
                        <br />
                        <div class="text-center text-md-left">
                            <input id="sendButton" type="button" class="btn btn-purple btn-md" onclick="validateForm()" value="Send" />
                        </div>
                        <div id="contact-form-status" class="status"></div>
                    </form>

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-3 text-center">
                    <ul class="list-unstyled mb-0">
                        <li>
                            <i class="fas fa-envelope fa-2x mt-4 purple-text"></i>
                            <p class="mb-0">info@modelrelief.com</p>
                        </li>
                    </ul>
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>

    </section>
    <!--Section: contact-->
    <!--Main container-->
</main>
<!--Main layout-->

@section scripts {
    <!--******************************************************************************************-->
    <!--                                    Libraries                                             -->
    <!--******************************************************************************************-->
    <!--******************************************************************************************-->
    <!--                                    ModelRelief                                           -->
    <!--******************************************************************************************-->
    <script>

        function recaptchaCallBack() {

            const sendButton = document.querySelector("#sendButton");
            sendButton.style.cursor = "pointer";
        }

        function validateForm() {

            const name = document.getElementById('contact-name').value;
            if (name == "") {
                document.getElementById('contact-form-status').innerHTML = "Please enter a Name";
                return false;
            }

            const email = document.getElementById('contact-email').value;
            if (email == "") {
                document.getElementById('contact-form-status').innerHTML = "Please enter your e-mail address";
                return false;
            } else {
                var re = /^(([^<>()\[\]\\.,;:\s@@"]+(\.[^<>()\[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                if (!re.test(email)) {
                    document.getElementById('contact-form-status').innerHTML = "Your e-mail address is invalid";
                    return false;
                }
            }

            const subject = document.getElementById('contact-subject').value;
            if (subject == "") {
                document.getElementById('contact-form-status').innerHTML = "Please enter a subject";
                return false;
            }

            const message = document.getElementById('contact-message').value;
            if (message == "") {
                document.getElementById('contact-form-status').innerHTML = "Please enter a message";
                return false;
            }

            const reCAPTCHAResponse = grecaptcha.getResponse();
            if (reCAPTCHAResponse.length == 0) {
                document.getElementById('contact-form-status').innerHTML = "Please check 'I\'m not a robot.' before sending your message.";
                return false;
            }

            document.getElementById('contact-form-status').html = "Sending...";

            formData = {
                'Name': $('input[name=Name]').val(),
                'Email': $('input[name=Email]').val(),
                'Subject': $('input[name=Subject]').val(),
                'Message': $('textarea[name=Message]').val(),
                'ReCAPTCHAResponse': reCAPTCHAResponse
            };

            $.ajax({
                url: "Email/Send",
                type: "POST",
                data: formData,

                success: function (responseResult, textStatus, jqXHR) {

                    $('#contact-form-status').html(responseResult.message);
                    if (responseResult.mailSent) {
                        // reset the form if mail was sent successfully
                        $('#contact-form').closest('form').find("input[type=text], textarea").val("");
                    }
                },

                error: function (jqXHR, textStatus, errorThrown) {
                    $('#contact-form-status').html(jqXHR.statusText);
                }
            });
        }
    </script>
}
