@using System
@{
    ViewBag.Title = $"ModelRelief {Environment.GetEnvironmentVariable("ASPNETCORE_Environment")}";
}

<body>
    <div>
        <div>
            <a class="btn btn-primary" href="~/models/index">Catalog</a>
        </div>
        <img src="~/images/Lucy.png"/>
    </div>
    <!------------------------------------------------------------------------------------------------>
    <!--                                    Libraries                                               -->
    <!------------------------------------------------------------------------------------------------>

    <!------------------------------------------------------------------------------------------------>
    <!--                                    ModelRelief                                             -->
    <!------------------------------------------------------------------------------------------------>

</body>
