@using ModelRelief.Features.Accounts

@{
    ViewBag.Title = "ModelRelief Privacy Policy";
    ViewBag.Description = "ModelRelief will never sell or misuse the private data you have provided us such as your e-mail, contact information, etc.";
}

<h2>Privacy</h2>
<p>
    ModelRelief will <i>never sell or misuse</i> the private data you have provided us such as your e-mail, contact information, etc.
</p>
