@using ModelRelief.Features.Accounts

@{
    ViewBag.Title = "Manage";
}

<h2>Manage</h2>
<br />
Your account contains personal data that you have given us. This page allows you to download or delete that data.