@using ModelRelief.Features.Accounts

@{
    ViewBag.Title = "Manage Your Personal Data | ModelRelief";
    ViewBag.Description = "Download or delete the personal data you have provided us.";
}

<h2>Manage</h2>
<br />
<p>Your account contains personal data that you have given us. This page will (soon) allow you to download or delete that data.</p>
