<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>ModelRelief</title>
    
    <!------------------------------------------------------------------------------------------------>
    <!--                                    CSS                                                     -->
    <!------------------------------------------------------------------------------------------------>
    <link rel="stylesheet" href="/css/site.css">

</head>
<body>
    <div>
        <h2 id="welcome">ModelRelief</h2>
        <a id="catalogLink" href="~/models/index">Catalog</a>

        <img src="~/images/Lucy.png"/>
    </div>
    <!------------------------------------------------------------------------------------------------>
    <!--                                    Libraries                                               -->
    <!------------------------------------------------------------------------------------------------>

    <!------------------------------------------------------------------------------------------------>
    <!--                                    ModelRelief                                             -->
    <!------------------------------------------------------------------------------------------------>

</body>

</html>