@{
    ViewBag.Title = "ModelRelief";
}

<body>
    <div>
        <div>
            <h2 id="welcome">ModelRelief</h2>
            <a id="catalogLink" href="~/models/index">Catalog</a>
        </div>
        <img src="~/images/Lucy.png"/>
    </div>
    <!------------------------------------------------------------------------------------------------>
    <!--                                    Libraries                                               -->
    <!------------------------------------------------------------------------------------------------>

    <!------------------------------------------------------------------------------------------------>
    <!--                                    ModelRelief                                             -->
    <!------------------------------------------------------------------------------------------------>

</body>
