@model ModelRelief.Dto.Model3d

@{
ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Model3d</h4>
<hr />
<div id="dropArea">
    <div class="row">
        <div class="col-md-12">
            <form id="uploadForm" asp-action="Create" enctype="multipart/form-data" method="post" onsubmit="return false;">
                <div class="form-group">
                    <label for="fileButton" class="control-label">Select OBJ files or drag and drop into the drop zone.</label>
                    <input id="fileButton" type="file" asp-for="FormFile" multiple accept=".obj" class="form-control-file" data-val="true" data-val-required="Please select an OBJ file to upload." />
                </div>
                <div id="formProgressBarContainer"></div>
            </form>
        </div>
    </div>
</div>

<br>
<div>
    <a asp-action="Index">Back to List</a>
</div>
<partial name="_StatusPanelPartial" />
<div hidden id="progressBarTemplate" class="progress-bar progress-bar-info" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" , style="width: 0%">
</div>

@section scripts {
<script>
    window.onload = (function (existingOnLoad) {
        return function () {
            existingOnLoad && existingOnLoad();
            requirejs(['FileTransfer/FileUpload']);
        }
    })(window.onload)
</script>
}