@using System.IO
@model IEnumerable<ModelRelief.Dto.Mesh>

@{
    ViewData["Title"] = "Models";
}

<h2>Models</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3">
@{
    foreach (var mesh in Model)
    {
        var meshName = System.IO.Path.GetFileNameWithoutExtension(mesh.Name);
        <div class="col mb-4">
            <div class="card" >
                <a href="/meshes/compose/@mesh.Id">
                    <div class="rippleContainer">
                        <img class="card-img-top" src="/meshes/@mesh.Id/preview" alt="">
                        <div class="ripple"></div>
                    </div>
                </a>
                <div class="card-body">
                    <h6 class="mb-0 ">@meshName</h6>
                    <p class="text-muted">@mesh.Description</p>
                    <a class="actionButton btn button-rounded btn-sm" href="/meshes/compose/@mesh.Id">Compose</a>
                </div>
            </div>
        </div>
    }
}
    </div>
</div>
