@model IEnumerable<ModelRelief.Dto.Mesh>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="container-fluid">
@foreach (var mesh in Model)
{
    <div class="row">
        <div class="col-2">
            <span>@mesh.Name</span>
        </div>
        <div class="col-2">
            <span>@mesh.Description</span>
        </div>

        <div class="col">
            <img class="filePreview" src="/models/@mesh.DepthBuffer.Model3dId/preview">
        </div>
        <div class="col">
            <img class="filePreview" src="/meshes/@mesh.Id/preview">
        </div>
        <div class="col">
            <img class="filePreview" src="/depthbuffers/@mesh.DepthBufferId/preview">
        </div>
        <div class="col">
            <img class="filePreview" src="/normalmaps/@mesh.NormalMapId/preview">
        </div>
    </div>
    }

</div>
