@model ModelRelief.Dto.Model3d

@{
    ViewBag.Title = "Model Viewer";
}


    <div id="rootContainer">
        <div id="composerView">
            <div id="modelView">
                <canvas id="modelCanvas"></canvas>
            </div>
            <div id="meshView">
                <canvas id="meshCanvas"></canvas>
            </div>
        </div>
    </div>

    <span id="modelName">@ViewData["ModelName"]</span>
    <span id="modelPath">@ViewData["ModelPath"]</span>

    @section scripts {
        <!--******************************************************************************************-->
        <!--                                    Libraries                                             -->
        <!--******************************************************************************************-->
        <script src="~/lib/threejs/Detector.js"></script>
        <script src="~/lib/requirejs/require.js"></script>

        <!--******************************************************************************************-->
        <!--                                    ModelRelief                                           -->
        <!--******************************************************************************************-->
        <script src="~/js/shaders.js"></script>
        <script>
            requirejs.config({
                baseUrl: '.',
                paths: {
                    ModelRelief                             : '/js/modelrelief',

                    chai                                    : '/lib/chai/chai',
                    three                                   : '/lib/threejs/three',
                   'dat-gui'                                : '/lib/threejs/dat.gui.min'
                }
            });
            window.onload = function () {

                requirejs(['ModelRelief']);
            }
        </script>
    }

