<!DOCTYPE html>

<html>
    <head>
        <title>@ViewBag.Title</title>
        <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

        <!------------------------------------------------------------------------------------------------>
        <!--                                    CSS                                                     -->
        <!------------------------------------------------------------------------------------------------>
        <link rel="stylesheet" href="/css/site.css">
        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">

    </head>

    <body>
        <header>
            @await Component.InvokeAsync("LoginLogout")
        </header>
        <div>
            @RenderBody()
        </div>
        <footer>
            @await  Component.InvokeAsync("Footer")
        </footer>
    </body>
</html>
