@using ModelRelief.Features.Settings

@inject ISystemSettings UserSettings;
@{ UserSettings.InitializeFromUser(User); }

<!DOCTYPE html>

<html>

<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="description" content="@ViewBag.Description">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <!--******************************************************************************************-->
    <!--                                    CSS                                                   -->
    <!--******************************************************************************************-->
    @*Font Awesome*@
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging, Production, Test">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/4.2.1/css/bootstrap.min.css" asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />

        @*WIP : Add minification to generate site.min.css*@
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
    @if (String.Equals("workbench", this.ViewContext.RouteData.Values["controller"].ToString().ToLower()))
    {
        <link rel="stylesheet" href="~/css/workbench.css">
    }

    <!-- Favicon -->
    @await Html.PartialAsync("_Favicons")

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-135510472-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-135510472-1');
    </script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <img class="mt-0 mr-1" src="~/images/IconWhite.png" alt="ModelRelief Shell" height="24" width="24">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">modelRelief<span class="font-weight-lighter"><sup> preview</sup></span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" asp-area="" asp-controller="Home" asp-action="About">About</a>
                @if (UserSettings.DevelopmentUI)
                {
                    <a class="nav-item nav-link" asp-area="" asp-controller="Settings" asp-action="Index">Settings</a>

                    <a class="nav-item nav-link" asp-area="" asp-controller="Models" asp-action="Index">Models</a>
                    <a class="nav-item nav-link" asp-area="" asp-controller="Projects" asp-action="Index">Projects</a>
                    <a class="nav-item nav-link" asp-area="" asp-controller="Cameras" asp-action="Index">Cameras</a>
                    <a class="nav-item nav-link" asp-area="" asp-controller="DepthBuffers" asp-action="Index">DepthBuffers</a>
                    <a class="nav-item nav-link" asp-area="" asp-controller="MeshTransforms" asp-action="Index">MeshTransforms</a>
                    <a class="nav-item nav-link" asp-area="" asp-controller="NormalMaps" asp-action="Index">NormalMaps</a>
                    <a class="nav-item nav-link" asp-area="" asp-controller="Workbench" asp-action="Index">Workbench</a>
                }
                <a class="nav-item nav-link" asp-area="" asp-controller="Home" asp-action="Credits">Credits</a>

            </div>
            <partial name="_LoginPartial" />
        </div>
    </nav>
    <partial name="_CookieConsentPartial" />

    <div class="container-fluid">
        @RenderBody()
    </div>

    <footer class="page-footer font-weight-lighter bg-dark">
        @*@await Component.InvokeAsync("Footer")*@

        <div class="footer-copyright text-center mt-3 py-3">
            <img class="mt-0 mr-1" src="~/images/IconWhite.png" alt="ModelRelief Shell" height="24" width="24">
            © 2019 Copyright:
            <a class="font-weight-normal" href="http://modelrelief.com/"> ModelRelief.com</a>
        </div>

    </footer>

    <!--******************************************************************************************-->
    <!--                                    Common JavaScript                                     -->
    <!--******************************************************************************************-->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>

    <environment names="Development, Test">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.2.1.min.js" asp-fallback-src="~/lib/jquery/dist/jquery.min.js" asp-fallback-test="window.jQuery" crossorigin="anonymous" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/4.2.1/bootstrap.min.js" asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal" crossorigin="anonymous" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k">
        </script>
    </environment>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    @RenderSection("scripts", required: false)

</body>

</html>