@if (User.Identity.IsAuthenticated)
    {
    <span>Welcome, @User.Identity.Name</span>

    <form method="post", asp-controller="Account", asp-action="Logout", asp-antiforgery="true">

        <div>
            <input type="submit" value="Logout"/>
        </div>
    </form>
    }
else
    {
    <a asp-controller="Account" asp-action="Login">Login</a>
    <a asp-controller="Account" asp-action="Register">Register</a>
    }