<body>
    <div id="cameraContainer" >
        <div id="settingsControls"></div>
        <canvas id="viewerCanvas"  tabindex='1'></canvas>
    </div>

    <!------------------------------------------------------------------------------------------------>
    <!--                                    Libraries                                               -->
    <!------------------------------------------------------------------------------------------------>
    <script src="/lib/require.js"></script>

    <!------------------------------------------------------------------------------------------------>
    <!--                                    ModelRelief                                             -->
    <!------------------------------------------------------------------------------------------------>
    <script src="/js/shaders.js"></script>
    <script>
        requirejs.config({
            baseUrl: '.',
            paths: {
                'Workbench/CameraTest'                       : '/js/modelrelief',

                 chai                                        : '/lib/chai',
                'three'                                      : '/lib/threejs/three',
                'dat-gui'                                    : '/lib/threejs/dat.gui.min'
            }
        });
        window.onload = function () {
            requirejs(['Workbench/CameraTest']);
        }
    </script>
</body>