@model DepthBufferViewModel

<body>
    <div >
        <canvas id="modelCanvas" class="depth"></canvas>
        <canvas id="depthBufferCanvas" class="depth""></canvas>
    </div>
    <div>
        <form method="post" asp-antiforgery="true">
            <div asp-validation-summary="All"></div>

            <div>
                <label asp-for="ImageUrl" />
                <input asp-for="ImageUrl" id="imageUrlInput"/>
                <span asp-validation-for="ImageUrl" />
            </div>
            <div>
                <input type="submit" value="Save" />
            </div>
        </form>
    </div>

    <!------------------------------------------------------------------------------------------------>
    <!--                                    Libraries                                               -->
    <!------------------------------------------------------------------------------------------------>
    <script src="/lib/require.js"></script>

    <!------------------------------------------------------------------------------------------------>
    <!--                                    ModelRelief                                             -->
    <!------------------------------------------------------------------------------------------------>
    <script src="/js/shaders.js"></script>
    <script>
        requirejs.config({
            baseUrl: '.',
            paths: {
                'Workbench/DepthBuffer'                      : '/js/modelrelief',

                'three'                                      : '/lib/threejs/three',
            }
        });
        window.onload = function () {
            requirejs(['Workbench/DepthBuffer']);
        }
    </script>
</body>