/* ----------------------    
    Bootstrap Overrides
------------------------*/
body { 
    background: #413D3D !important; 
    color: rgb(255, 255, 255) !important;
}

.panel-body {
    color: #413D3D !important;
}

button {
    color: #0F0F0F !important;
}

input {
    color: #0F0F0F !important;
}

/* ----------------------    
    General
------------------------*/
#rootContainer {
    position : relative;
}

/* ----------------------    
    Model3D View
------------------------*/
#modelView {
    position : relative;
    width:  512px;
}

#modelCanvas{
    width:  512px;
    height: 512px;
    background-color: #000000;
}

/* ----------------------    
      Mesh View
------------------------*/
#meshView {
    position : absolute;
    top : 0px;
    right: 0px;
    width:  512px;
}

#meshCanvas{
    width:  512px;
    height: 512px;
    background-color: #000000;
}

/* ----------------------    
      DepthBuffer View
------------------------*/
#depthBufferView {
    position : absolute;
    top : 640px;
    right: 0px;
    width:  512px;
}

#depthBufferCanvas{
    width:  512px;
    height: 1px;
    background-color: #000000;
}

/* ----------------------    
      UI Controls
------------------------*/
.dg.main {
    user-select: none;
    z-Index: 200;
    margin-bottom: 25px;
}

#cameraControls {
    float: right
}
#modelViewerControls, #meshViewerControls, #composerControls {
    float: left
}

/* 'Standard View' select element */
div.c > select {
    color: #000000;
}

.DepthBufferFactory {
    background-color: #000000;
}

/*
    HTML Logger
*/

#loggerRoot {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.logMessage {
    margin-left: 100PX;
}

.logError {
    color : #B6CFDC;
}

.logWarning {
    color: #B771B7;
}

.logInfo {
    color: rgb(255, 255, 255);
}