
/* ----------------------    
    Model3D Viewer
------------------------*/

#settingsControls {
    user-select: none;
    position: absolute;
    right: 0;
    top: 0;
    z-Index: 200;
}

#modelCanvas, #meshCanvas{
    width:  512px;
    height: 512px;
    background-color: #000000;
}

.DepthBufferFactory {
    background-color: #000000;
}

/*
    HTML Logger
*/

#loggerRoot {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.logMessage {
    margin-left: 100PX;
}

.logError {
    color : red;
}

.logWarning {
    color: purple;
}

.logInfo {
    color: black;
}