
/* ----------------------    
    Model3D Viewer
------------------------*/

#info {
    color: #fff;
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    z-index: 100;
    display: block;
}

#dat {
    user-select: none;
    position: absolute;
    right: 0;
    top: 0;
    z-Index: 200;
}

#modelCanvas, #meshCanvas {
    width:  512px;
    height: 512px;
    background-color: #000000;
}

/*
    HTML Logger
*/

#loggerRoot {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.logMessage {
    margin-left: 100PX;
}

.logError {
    color : red;
}

.logWarning {
    color: purple;
}

.logInfo {
    color: black;
}