
/* ----------------------    
    Workbench (Experimental)
------------------------*/

/*Bootstrap override*/
.container {
    width : 1800px;
}

#viewerCanvas {
    width:  768px;
    height: 768px;

    position: relative;
    left : 20%;
    background-color: #000000;
}

