@model ModelRelief.Dto.Camera

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Camera</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectId" class="control-label"></label>
                <select asp-for="ProjectId" class="form-control" asp-items="ViewBag.ProjectId"></select>
            </div>

            <div class="form-group">
                <label asp-for="FieldOfView" class="control-label"></label>
                <input asp-for="FieldOfView" class="form-control" />
                <span asp-validation-for="FieldOfView" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AspectRatio" class="control-label"></label>
                <input asp-for="AspectRatio" class="form-control" />
                <span asp-validation-for="AspectRatio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Near" class="control-label"></label>
                <input asp-for="Near" class="form-control" />
                <span asp-validation-for="Near" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Far" class="control-label"></label>
                <input asp-for="Far" class="form-control" />
                <span asp-validation-for="Far" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PositionX" class="control-label"></label>
                <input asp-for="PositionX" class="form-control" />
                <span asp-validation-for="PositionX" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PositionY" class="control-label"></label>
                <input asp-for="PositionY" class="form-control" />
                <span asp-validation-for="PositionY" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PositionZ" class="control-label"></label>
                <input asp-for="PositionZ" class="form-control" />
                <span asp-validation-for="PositionZ" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EulerX" class="control-label"></label>
                <input asp-for="EulerX" class="form-control" />
                <span asp-validation-for="EulerX" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EulerY" class="control-label"></label>
                <input asp-for="EulerY" class="form-control" />
                <span asp-validation-for="EulerY" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EulerZ" class="control-label"></label>
                <input asp-for="EulerZ" class="form-control" />
                <span asp-validation-for="EulerZ" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Theta" class="control-label"></label>
                <input asp-for="Theta" class="form-control" />
                <span asp-validation-for="Theta" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ScaleX" class="control-label"></label>
                <input asp-for="ScaleX" class="form-control" />
                <span asp-validation-for="ScaleX" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScaleY" class="control-label"></label>
                <input asp-for="ScaleY" class="form-control" />
                <span asp-validation-for="ScaleY" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScaleZ" class="control-label"></label>
                <input asp-for="ScaleZ" class="form-control" />
                <span asp-validation-for="ScaleZ" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UpX" class="control-label"></label>
                <input asp-for="UpX" class="form-control" />
                <span asp-validation-for="UpX" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpY" class="control-label"></label>
                <input asp-for="UpY" class="form-control" />
                <span asp-validation-for="UpY" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpZ" class="control-label"></label>
                <input asp-for="UpZ" class="form-control" />
                <span asp-validation-for="UpZ" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
