@model ModelRelief.Features.Workbench.DepthBufferTestViewModel

<body>
    <div id="depthBufferContainer" >
        <canvas id="modelCanvas" class="depth"></canvas>
        <canvas id="meshCanvas" class="depth"></canvas>
    </div>
    <button type="button" id="camera">Take Photograph</button>
    <div>
        <form method="post" asp-antiforgery="true">
            <div asp-validation-summary="All"></div>

            <div>
                <label asp-for="ImageUrl" />
                <input asp-for="ImageUrl"/>
                <span asp-validation-for="ImageUrl" />
            </div>
            <div>
                <input type="submit" value="Save" />#
            </div>
        </form>
    </div>
    @section scripts {
        <!------------------------------------------------------------------------------------------------>
        <!--                                    Libraries                                               -->
        <!------------------------------------------------------------------------------------------------>
        <script src="~/lib/requirejs/require.js"></script>

        <!------------------------------------------------------------------------------------------------>
        <!--                                    ModelRelief                                             -->
        <!------------------------------------------------------------------------------------------------>
        <script src="~/js/shaders.js"></script>
        <script>
            requirejs.config({
                baseUrl: '.',
                paths: {
                    'Workbench/DepthBufferTest'             : '/js/modelrelief',

                    chai                                    : '/lib/chai/chai',
                    three                                   : '/lib/threejs/three',
                   'dat-gui'                                : '/lib/threejs/dat.gui.min',
                }
            });
            window.onload = function () {
                requirejs(['Workbench/DepthBufferTest']);
            }
        </script>
    }        
</body>