@model ModelRelief.Features.Workbench.ImageTestViewModel

<body>
    <div>
        <img id="imageElement" src="~/images/3DModel.png" class="card-img-top" alt="">

        <form method="post" asp-antiforgery="true">
            <div asp-validation-summary="All"></div>
            <div>
                <label asp-for="Base64Image" />
                <input id=base64Image asp-for="Base64Image" />
                <span asp-validation-for="Base64Image"></span>
            </div>
            <div>
                <input type="submit" class="actionButton button-rounded btn" value="Save" />
            </div>
        </form>
    </div>
    @section scripts {
        <script>
            window.onload = (function (existingOnLoad) {
                return function () {
                    existingOnLoad && existingOnLoad();
                    requirejs(['Workbench/ImageTest']);
                }
            })(window.onload)
        </script>
    }
</body>