@model ModelRelief.Features.Workbench.ImageTestViewModel

<body>
    <div>
        <img id="imageElement" src="~/images/3DModel.png" class="card-img-top" alt="">

        <form method="post" asp-antiforgery="true">
            <div asp-validation-summary="All"></div>
            <div>
                <label asp-for="Base64Image" />
                <input id=base64Image asp-for="Base64Image" />
                <span asp-validation-for="Base64Image"></span>
            </div>
            <div>
                <input type="submit" class="actionButton button-rounded btn" value="Save" />
            </div>
        </form>
    </div>
    @section scripts {
        <!--******************************************************************************************-->
        <!--                                    Libraries                                             -->
        <!--******************************************************************************************-->
        <script src="~/lib/requirejs/require.js"></script>

        <!--******************************************************************************************-->
        <!--                                    ModelRelief                                           -->
        <!--******************************************************************************************-->
        <script src="~/js/shaders.js"></script>
        <script>
            requirejs.config({
                baseUrl: '.',
                paths: {
                    'Workbench/ImageTest': '/js/modelrelief',

                    chai: '/lib/chai/chai',
                    three: '/lib/threejs/three',
                    'dat-gui': '/lib/threejs/dat.gui.min',
                }
            });
            window.onload = function () {
                requirejs(['Workbench/ImageTest']);
            }
        </script>
    }
</body>