<main>
    <div class="container-fluid">

        <div class="workbenchTable">
            <h2 class="mt-5 mb-4">Workbench Tests</h2>
            <section class="mt-4">
                <span class="workbenchHeading">Camera</span>
                <hr class="mt-0" />

                <div class="row">
                    <div class="col-md-2">
                        <a class="workbenchItem" asp-area="" asp-controller="Workbench" asp-action="CameraTest">Round Trip</a>
                    </div>
                    <div class="col-md-10">
                        <span class="workbenchItemDescription">Perspective camera serialization/deserialization and debug aids for camera and controllers</span>
                    </div>
                </div>
            </section>

            <section class="mt-4">
                <span class="workbenchHeading">Images</span>
                <hr class="mt-0" />

                <div class="row">
                    <div class="col-md-2">
                        <a class="workbenchItem" asp-area="" asp-controller="Workbench" asp-action="ImageTest">PNG Creation</a>
                    </div>
                    <div class="col-md-10">
                        <span class="workbenchItemDescription">Write a PNG image file from raw byes</span>
                    </div>
                </div>
            </section>

            <section class="mt-4">
                <span class="workbenchHeading">Dependency Injection</span>
                <hr class="mt-0" />

                <div class="row">
                    <div class="col-md-2">
                        <a class="workbenchItem" asp-area="" asp-controller="Workbench" asp-action="DI">DI Injection</a>
                    </div>
                    <div class="col-md-10">
                        <span class="workbenchItemDescription">Experiments with Autofac DI</span>
                    </div>
                </div>
            </section>

        </div>
    </div>
</main>