<body>
    <div id="inheritanceContainer" >
    </div>
    @section scripts {
        <!------------------------------------------------------------------------------------------------>
        <!--                                    Libraries                                               -->
        <!------------------------------------------------------------------------------------------------>
        <script src="~/lib/requirejs/require.js"></script>

        <!------------------------------------------------------------------------------------------------>
        <!--                                    ModelRelief                                             -->
        <!------------------------------------------------------------------------------------------------>
        <script src="~/js/shaders.js"></script>
        <script>
            requirejs.config({
                baseUrl: '.',
                paths: {
                    'Workbench/InheritanceTest'                  : '/js/modelrelief',

                    chai                                    : '/lib/chai/chai',
                    three                                   : '/lib/threejs/three',
                   'dat-gui'                                : '/lib/threejs/dat.gui.min',
                }
            });
            window.onload = function () {
                requirejs(['Workbench/InheritanceTest']);
            }
        </script>
    }                
</body>