@model ModelRelief.Dto.Settings

@{
ViewData["Title"] = "Edit";
}

<div class="settingsEditorContainer container-fluid">

    <div class="settingsTable">
        <h2 class="mt-5 mb-4">Settings</h2>

        <section class="mt-4">
            <span class="settingsHeading">.NET Core</span>
            <hr class="mt-0" />


            <div class="col-md-8">
                Environment = @ViewBag.Environment
            </div>
            <div class="col-md-8">
                ASPNETCORE_URLS = @ViewBag.ASPNETCORE_URLS
            </div>
        </section>

        <section class="mt-4">
            <span class="settingsHeading">User Interface</span>
            <hr class="mt-0" />

            <div class="col-md-8">
                <form asp-action="Edit" asp-route-id="@Model.Id">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />

                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <br>
                    <div class="checkbox-inline">
                        <label asp-for="LoggingEnabled"></label>
                        <input type="checkbox" asp-for="LoggingEnabled" class="mr-2" />
                    </div>
                    <div class="checkbox-inline">
                        <label asp-for="DevelopmentUI"></label>
                        <input type="checkbox" asp-for="DevelopmentUI" class="mr-2" />
                    </div>
                    <br>
                    <div class="checkbox-inline">
                        <label asp-for="ModelViewerExtendedControls"></label>
                        <input type="checkbox" asp-for="ModelViewerExtendedControls" class="mr-2" />
                    </div>
                    <div class="checkbox-inline">
                        <label asp-for="MeshViewerExtendedControls"></label>
                        <input type="checkbox" asp-for="MeshViewerExtendedControls" class="mr-2" />
                    </div>
                    <div class="checkbox-inline">
                        <label asp-for="ExtendedCameraControls"></label>
                        <input type="checkbox" asp-for="ExtendedCameraControls" class="mr-2" />
                    </div>
                    <br>
                    <div class="checkbox-inline">
                        <label asp-for="DepthBufferViewVisible"></label>
                        <input type="checkbox" asp-for="DepthBufferViewVisible" class="mr-2" />
                    </div>
                    <div class="checkbox-inline">
                        <label asp-for="NormalMapViewVisible"></label>
                        <input type="checkbox" asp-for="NormalMapViewVisible" class="mr-2" />
                    </div>
                    <br>

                    <div class="form-group">
                        <input type="submit" value="Save" class="actionButton btn button-rounded btn-sm" />
                    </div>
                </form>
            </div>
    </div>