@model ModelRelief.Dto.Settings

@{
ViewData["Title"] = "Edit";
}

<div class="settingsEditorContainer container-fluid">

    <div class="settingsTable">
        <h2 class="mt-5 mb-4">Settings</h2>

        <section class="mt-4">
            <span class="settingsHeading">.NET Core</span>
            <hr class="mt-0" />


            <div class="col-md-8">
                Environment = @ViewBag.Environment
            </div>
            <div class="col-md-8">
                ASPNETCORE_URLS = @ViewBag.ASPNETCORE_URLS
            </div>
        </section>

        <section class="mt-4">
            <span class="settingsHeading">User Interface</span>
            <hr class="mt-0" />

            <div class="col-md-8">
                <form asp-action="Edit" asp-route-id="@Model.Id">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />

                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <br><br>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="LoggingEnabled" class="mr-2">Console Logging
                    </label>
                    <br>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="DevelopmentUI" class="mr-2">Extended Development UI
                    </label>
                    <br><br>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="ModelViewerExtendedControls" class="mr-2">Model Viewer Extended Controls (e.g. Grid)
                    </label>
                    <br>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="MeshViewerExtendedControls" class="mr-2">Mesh Viewer Extended Controls
                    </label>
                    <br>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="ExtendedCameraControls" class="mr-2">Extended Camera Controls (Clipping Planes, Camera Helper, etc.)
                    </label>
                    <br><br>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="DepthBufferViewVisible" class="mr-2">Depth Buffer Visible
                    </label>
                    <br>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="NormalMapViewVisible" class="mr-2">Normal Map Visible
                    </label>
                    <br><br>

                    <div class="form-group">
                        <input type="submit" value="Save" class="actionButton btn button-rounded btn-sm" />
                    </div>
                </form>
            </div>



    </div>