
<main>
    <div class="container-fluid">

        <div class="settingsTable">
            <h2 class="mt-5 mb-4">Settings</h2>

            <section class="mt-4">
                <span class="settingsHeading">.NET Core</span>
                <hr class="mt-0" />

                <div class="row">
                    <div class="col-md-2">
                        ViewBag.Environment
                        ViewBag.ASPNETCORE_URLS
                    </div>
                </div>
            </section>

        </div>
    </div>
</main>